/*
.is-breakable {
  word-break: break-word !important;
	word-break: break-all;
}
#is-breakable {
  word-break: break-word !important;
	word-break: break-all;
}

.table > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    height: 100%;
}

.table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    height: 100%;
}

.table > thead:first-child > tr:first-child > th:nth-child(2) {
    /*padding-left: 40px;* /
}

.table > tbody > tr > td:nth-child(2) {
    /* padding-left: 50px !important;* /
}


*/
/*
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
* /
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
*/

/**
.zoom {
   transition: transform .2s; /* Animation * /
    
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) * /
}
*/
.card-img-top {
/*height: 150px;*/
/*object-fit: fill;*/
}

#gototopbtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /*background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
   /* padding: 15px; /* Some padding */
    /*border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#gototopbtn:hover {
    background-color: #0f25d5; /* Add a dark-grey background on hover */
}


/*
.price-off {
    z-index: 1;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: .3125em;
    overflow: hidden;
    font-size: .8125em;
    background: #F4511E;
    color: #fff;
    position: absolute;
    top: 0.4375em;
    left: -0.25em;
   /* transform: rotate(-51deg);* /
    padding: .5625em 3.125em;
	font-weight: bold;
	}

.col-md-3, .lightGallery .image-tile {
    flex: 0 0 20%;
    max-width: 20%;
}
.card .card-body {
    padding: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-left: 5px;
}
.card-title {
    
    margin-bottom: 8px;
}


.popular {
    z-index: 1;
    border: 3px solid #F57C00;
}

*/