.benefitBody {
    background: #852fd4;
}

.benefitHead {
    text-align: center;
    background: url(../images/benefitBg.png) top center no-repeat;
    background-size: 100% auto;
    height: 6.5rem;
}

.product {
    margin-top: 0;
    background: transparent;
}

.product .list-2 li {
    margin-top: 0;
}

.benefitBox {
    background: url(../images/benefitBox.png) top center no-repeat;
    background-size: 100% auto;
    margin: 0 0.2rem;
    margin-bottom: 0.1rem;
    height: 2.7rem;
    padding-top:0.20rem;
    padding-right: 0.1rem;
}

.benefitBox:last-child {
    margin-bottom: 1rem;
}

.product .list-2 .imgBox {
  width: 2.1rem;
  height: 2.1rem;
  display: block;
  margin-right: 0.2rem; 
  margin-left: 0.1rem;
}

.product .list-2 h2 {
  font-size: 0.26rem;
  color: #000;
  word-break: break-all;
  line-height: 0.3rem;
}

.product .list-2 .price {
  padding: 0.2rem 0 0.1rem 0;
  font-size: 0;
}

.product .list-2 .price span {
  display: inline-block;
  font-size: 0.24rem;
  color: #666;
  height: 0.32rem;
  line-height: 0.32rem;
  margin-right: 0.15rem;
}

.product .list-2 .quan {
    vertical-align: top;
    height: 0.32rem;
    width: 1rem;
    background: transparent;
    background-size: auto 0.44rem;
    display: inline-block;
}

.product .list-2 .quan p {
  width: 1rem;
  text-align: center;
  display: inline-block;
  font-size: 0.24rem;
  color: #a038fa;
  line-height: 0.32rem;
  height: 0.32rem;
  vertical-align: top;
}

.product .list-2 .quan h3 {
  font-size: 0.24rem;
  color: #ff2d2d;
  line-height: 0.32rem;
  height: 0.32rem;
  display: inline-block;
  width: 1rem;
}

.product .list-2 .draw {
    vertical-align: top;
    height: 0.32rem;
    width: 1.2rem;
    background: transparent;
    background-size: auto 0.44rem;
    display: inline-block;
}

.product .list-2 .draw p {
  width: 1.2rem;
  text-align: center;
  display: inline-block;
  font-size: 0.24rem;
  color: #ff2d2d;
  line-height: 0.32rem;
  height: 0.32rem;
  vertical-align: top;
}

.product .list-2 .draw h3 {
  font-size: 0.24rem;
  color: #ff2d2d;
  line-height: 0.32rem;
  height: 0.32rem;
  display: inline-block;
  width: 1.2rem;
}

.product .list-2 .mset {
    color: #ff2d2d;
    font-size: 0.3rem;
}

.product .list-2 .mset span {
    font-size: 0.6rem;
}

.product .list-2 .mset a.type {
  vertical-align: top;
  height: 0.8rem;
  width: 2rem;
  background: url(/test/new3/images/benefitBtn.png) left 0.04rem no-repeat;
  background-size: auto 0.8rem;
  display: inline-block;
  border: none;
  padding-top: 0.15rem;
  cursor: pointer;
  float: right;
  font-size: 0.28rem;
}

.gameLink {
  width: 1.5rem;
  height: 1.5rem;
  margin: 6rem 3rem;
  position: absolute;
}