

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>编辑</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 20px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">银行名称</label>
      <div class="layui-input-block">
        <input type="text" name="username" lay-verify="required" placeholder="输入银行名称" value="工商银行" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">银行卡号</label>
      <div class="layui-input-block">
        <input type="text" name="phone" lay-verify="phone" placeholder="输入银行卡号" value="6772 8888 8888 888"  autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">持卡人</label>
      <div class="layui-input-block">
        <input type="text" name="phone" lay-verify="phone" placeholder="输入持卡人姓名" value="刘亦菲"  autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">开户行</label>
      <div class="layui-input-block">
        <input type="text" name="phone" lay-verify="phone" placeholder="输入所属开户支行名称" value="中国华夏银行上海支行" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">日收款金额</label>
      <div class="layui-input-inline">
        <input type="text" name="phone" lay-verify="phone" placeholder="设置每日收款最多额度" value="10000" autocomplete="off" class="layui-input">
      </div>
      <label class="layui-form-mid">元</label>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">卡收款范围</label>
      <div class="layui-input-inline">
        <input type="text" name="" lay-verify="" placeholder="设置卡收款金额" value="10000" autocomplete="off" class="layui-input">
      </div>
      <label class="layui-form-mid">至</label>
      <div class="layui-input-inline">
        <input type="text" name="" lay-verify="" placeholder="设置卡收款金额" value="50000" autocomplete="off" class="layui-input">
      </div>
    </div>
   
    <div class="layui-form-item layui-hide">
      <input type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="修改保存">
    </div>
  </div>
   
    <div class="layui-form-item layui-hide">
      <input type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="修改保存">
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'upload'], function(){
    var $ = layui.$
    ,form = layui.form
    ,upload = layui.upload ;
    

  })
  </script>
</body>
</html>