.listBox .inBox .name {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

 em {
 	font-family: '黑体' !important;
 	padding: 0 0.05rem;
 }

.listBox .inBox .imgBox {
	width: 2.6rem !important;
    height: 2.6rem !important;
}

.listBox .typeBox {
   /*padding-top: 0.04rem;*/
}



.searchBox input {
    font-weight: 500;
    margin-top: 0.1rem;
 }

 .goShare-c {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60%;
}

.type-price {
	color: #bebebe;
	font-size: 0.26rem !important;
    padding: 0 !important;
    border:.012rem solid transparent;
}

.newTxt {
  font-size: 0.22rem;
  color: #bebebe;
  line-height: 1em;
  margin-right: 0.12rem;
}

.txt-red {
  font-size: 0.22rem;
  /*margin-right: 0.05rem;*/
  color: #fe002f;
  /*font-family: "黑体";*/
  flex:1;
}

.num-reward {
	font-size: 0.4rem;
}

.num {
    height: 0.4rem;
 }

.logo3-c1 {
  background: url(../images/index3-img1.png) left top no-repeat;
  background-size: 100% auto;
  padding-top: 1.45rem;
  box-sizing: border-box;
  height: 5.9rem;
  margin-bottom: 0;
  
}

.logo3-c1 .searchBox {
  position: relative;
  margin-bottom: 0;
  bottom: 0;
  box-shadow: none;
  width: calc(100% - 0.48rem);
}

.logo3-c1 .about li {
  color: #fff;
}

span.type-red {
  line-height: 0.3rem !important;
}

span.type-sred {
  line-height: 0.3rem !important;
}

.listTitle {
  background: url(/clientapp/images/title-chaoshengouwu.png) left top no-repeat;
    background-size: contain;
    height: 0.53rem;
    margin: 0.3rem 0.24rem;
}

.title-0goumai {
  background: url(/clientapp/images/title-0yuangoumai.png) left top no-repeat;
    background-size: contain;
    height: 0.5rem;
    margin: 0.2rem 0.24rem;
    /* border-bottom: 1px solid gainsboro; */
    /* padding: 0; */
}

.title-checkall {
  float: right;
  color: #b0b0b0;
  padding: 0.1rem 0;
}

.zeroBox {
    background-size: 100% 100%;
    margin: 0 auto;
    margin: 0 0 0.5rem 0;
}

.zeroBox .list {
  padding: 0 0.24rem;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  position: relative;
}

.zeroBox-product-img {
  position: relative;
  height: 2.35rem;
  width: 2.35rem;
  padding: 0.1rem 0.1rem 0.1rem 0;
}

.title-0gou-product {
  font-size: 0.26rem !important;
  font-weight: bold;
  color: #333 !important;
  line-height: 1.5em !important;
  padding: 0.1rem 0 0 0;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 2.2rem;
}

.butie-font {
  color: #fe002f;
  font-family: '黑体' !important;
  vertical-align: middle;
}

.butie {
    background-size: contain;
    height: 100% !important;
    width: 0.9rem !important;
    padding: 0 0.1rem 0 0;
}

.butiejia {
  color: #fe002f;
    font-size: 0.4rem;
    padding: 0.1rem 0;
    vertical-align: middle;
}
.icon-zero-go {
  height: 0.4rem;
    margin: -0.05rem 0 0 0.1rem;
    padding: 0.08rem 0.05rem;
    line-height: 1rem;
}

.butie-padding {
  padding: 0.1rem 0 0 0;
}

.line {
  height: 0.1rem;
  border-top: 0.012rem solid #e5e5e5;
  margin: 0 0.24rem;

}

#redeem-plan-modal .modal-dialog {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#redeem-plan-modal .modal-content {
  background: url(/clientapp/images/main/modal-bg-redeem-plan.png) no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
    width: 6rem;
    height: auto;
    padding: 1rem 0.1rem 0 0.1rem;
    position: relative;
    margin: 0.1rem 0;
    

}

#redeem-plan-modal .modal-title{
  color: #000;
    font-size: 0.4rem;
    line-height: 0.6rem;
    text-align: center;
    font-weight: 545;
    position: relative;
    padding: 0.7rem 0 0 0;
}

#redeem-plan-modal .modal-description{
  font-size: 0.25rem;
    line-height: 0.45rem;
    color: #848484;
    padding: 0.3rem 0;
}

#redeem-plan-modal .modal-instructions{
  font-size: 0.25rem;
  line-height: 0.45rem;
  color: #848484;
}

#redeem-plan-modal .btn-close-modal {
    position: relative;
    padding: 1rem;
}

#redeem-plan-modal .btn-close-modal img{
  margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0.6rem;
  }

.highlight-red {
  color: red;
}