.listBox .inBox .name {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

 em {
 	font-family: '黑体' !important;
 }

.listBox .inBox .imgBox {
	width: 2.6rem !important;
    height: 2.6rem !important;
}

.listBox .typeBox {
   padding-top: 0.1rem;
}

.searchBox input {
    font-weight: 500;
    margin-top: 0.1rem;
 }