.redeem-banner img {
	width: 100%;
}

.redeem-prize .col-xs-6 {
	padding: 0;
}

.left-box {
	float: left;
	width: 50%;
	padding-right: 5px;
	padding-bottom: 10px;
	position: relative;
	display: table;
}

.right-box {
	float: left;
	width: 50%;
	padding-left: 5px;
	padding-bottom: 10px;
	position: relative;
	display: table;
}

.prize-box {
	background: url('/client/images/vip/gift-box.png') no-repeat;
	background-size:100% 100%;  
	content: '';
	position: relative;
	display: table-cell;
}

.prize-box .image-wrapper {
	width: 2.6rem;
	height: 2.6rem;
	margin: 0 auto;
}

.prize-box .image-wrapper img {
	margin: 0.3rem auto;
	width: 100%;
	height: 100%;
}

.redeem-product {
	font-size: 0.24rem;
	color: #e1d3ed;
	margin-top: 0.4rem;
	text-align: left;
	padding: 0.3rem 0.2rem 0.1rem 0.3rem;
	height: 1rem;
	overflow: hidden;
}

.redeem-price {
	font-size: 0.34rem;
	color: #ffae00;
	float: left;
	text-align: left;
	width: 60%;
	display: block;
	padding-left: 0.3rem;
}

.redeem-currency {
	font-size: 0.2rem;
}

.redeem-button-wrapper {
	width: 40%;
	float: left;
}

.redeem-button {
	background:url(/client/images/vip/redeem-button.png) no-repeat;
	width: 1.02rem;
	height: 0.44rem;
	background-size: contain;
	font-size: 0.24rem;
	padding-top: 0.04rem;
	cursor: pointer;
}

.redeem-details {
	overflow: hidden;
	margin-bottom: 0.2rem;
	margin-top:0.1rem;
}

.redeem-details a {
	color: white;
}

.redeem-info {
	margin-bottom: 30px;
}

.info-box {
	background:url(/client/images/vip/redeem-info.png) left top no-repeat;
	background-size:100% 100%;  
	content: '';
	position: relative;
	display: table-cell;
	padding: 0.1rem 0.15rem 0.22rem 0.15rem;
	font-size: 0.28rem;
	text-align: left;
}

.info-box hr {
	border: none;
	border-top: 1px dashed #cf98fd;
	height: 1px;
	width: 100%;
}

.info-title {
	font-size: 0.38rem;
	text-align: center;
}

.info-title img {
	width: 0.38rem;
	height: 0.38rem;
	margin: 0 0.2rem;
}

.info-highlight {
	color: #ffa800;
}