@import url(https://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.container {
	width: 100%;
	padding: 0;
	background-color: #f3f3f3;
}

html, body {
	height: 100%;
	background-color: #f3f3f3;
}

/* Tabs */
.full-width-tabs > .nav-pills > .active > a {
	text-decoration: none;
    color: #ff6a42 !important;
    background-color: #ffffff !important;
}
.full-width-tabs > .nav-pills > li > a{
    border-radius:0;
    color:#666666;
    font-weight: 500;
    background: #ffffff;
    font-size: 0.36rem;
    border-top: 1px solid #f2f2f2;
    padding: 0.3rem 0.3rem;
}

.full-width-tabs > ul.nav.nav-pills, .modal-row > ul.nav.nav-pills {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-pills > li, .modal-row > ul.nav.nav-pills > li{
	float: none;
	display: table-cell;
}
.full-width-tabs > ul.nav.nav-pills > li > a, .modal-row > ul.nav.nav-pills > li > a{
	text-align: center;
}

.take-all-space-you-can{
	width:100%;
}
/* End Tabs */

.tab-content {
	margin-top: 0.2rem;
	padding-bottom: 0.4rem;
}

.row {
	height: 1.4rem;
	color: #cccccc;
	font-size: 0.28rem;
	padding-top: 0.2rem;
	margin-right: 0;
	margin-left: 0;
	border-top: 1px solid #e3e3e3;
	background: #ffffff;
}

.row:first-child {
	border-top: none;
}

.column-1 {
	padding-right: 0.1rem;
	padding-left: 0.2rem;
}

.column-2 {
	padding-right: 0.1rem;
	padding-left: 0.2rem;
	text-align: left;
}

.right-wrapper {
	float: right;
	margin-right: 0.2rem;
}

.fa {
	display: block;
	margin-top: 0.06rem;
	margin-left: -0.02rem;
}

.label {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0;
    color: #b5b5ba;
    font-size: 0.28rem;
}

.pass, .fail {
    float: left;
    margin-right: 0.2rem;
}

.pass .label {
    color: #FFF;
    background-image: linear-gradient(#ffcb4d, #ff902a);
}

.fail .label {
    color: #FFF;
    background-image: linear-gradient(#e2e2e2, #afafaf);
}

.date {
	text-align: left;
	color: #7f7f7f;
	font-size: 0.24rem;
	padding-top: 0.16rem;
}

.icon-coin-wrapper {
	width: 0.5rem;
	height: 0.51rem;
	float: right;
	margin-top: 0.12rem;
	margin-right: -0.05rem;
	padding-top: 0;
}

.icon-coin {
	background: url('/client/images/coin.png') no-repeat;
	width: 1.5rem;
	height: 1.51rem;
	background-size: contain;
	float: left;
	z-index: 100;
	position: relative;
}

.points {
	color: #ef3636;
	font-size: 0.4rem;
	float: right;
}

.balance {
	float: right;
	color: #747474;
	padding-top: 0.06rem;
}

.empty {
	/*font-size: 0.24rem;*/
	/*color: #ff8624;*/
}

#normal-pagination, #vip-pagination {
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 10px;
}

.isnext {
     text-align: center;
     font-size: .26rem;
     color: #999;
     line-height: 1.6em;
     padding: .15rem 0;
}

.navbar-default .navbar-brand {
	width: 100% !important;
}

.row-full {
	font-size: 20px;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding-bottom: 50px;
    color: #666;
}

.share-link {
    color: #ff4444;
}