.barWrapper{
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-o-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	flex-direction: column;
	margin-top: -50px;
}
.barWrapper::before,
.barWrapper::after{

}

.barBox{
	height: 1.7rem;
	width: 6.72rem;
}
.barBox .rule{
	height: 1.2rem;
	padding-top: .85rem;
	box-sizing: border-box;
	position: relative;
}

.barIn{
	background:url(/client/images/vip/table-bg.png) left top no-repeat;
	background-size:100% 100%;  
	content: '';
	position: relative;
	z-index: 200;
	left:0;
	top:0;
	right: 0;
	bottom:0;
	display: table-cell;
}

.barIn .bet-box {
	margin: 0.3rem auto 0.3rem auto;
	width: 1.62rem;
	height: 0.7rem;
	float: left;
}

.barIn .bet-box:first-child {
	margin-left: 0.2rem;
}

.barIn .bet-box:last-child {
	width: 1.58rem;
}

.barIn .long-box {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	margin-bottom: 0.4rem;
	width: 3rem;
	text-align: center;
	color: #ffcc29;
	/*padding-left: 0.1rem;*/
}

.bet-background {
	background:url(/client/images/vip/bet-background.png) no-repeat;
	width: 324px;
	height: 78px;
	transform: scale(0.45); 
	-webkit-transform: scale(0.45);
	-webkit-transform-origin:left top;
	padding-top: 8px;
	background-size: contain;
}

.button-bet, .button-bet-reset {
	background:url(/client/images/vip/bet-default.png) no-repeat;
	width: 134px;
	height: 68px;
	z-index: 200;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
	color: #a45500;
	font-size: 30px;
	padding-top: 10px;
	cursor: pointer;
	background-size: contain;
}

.button-bet:hover, .button-bet-reset:hover {
	background:url(/client/images/vip/bet-selected.png) no-repeat;
	background-size: contain;
}

.plus-sign {
	font-size: 28px;
}

.span-bet {
	color: #ffcc29;
	font-size: 40px;
	float: left;
	width: 190px;
}

.btn-minus {
	float: left;
	background:url(/client/images/vip/bet-minus.png) no-repeat;
	width: 52px;
	height: 55px;
	margin-left: 15px;
	margin-top: 3px;
	cursor: pointer;
	background-size: contain;
}

.btn-minus:hover {
	background:url(/client/images/vip/bet-minus-hover.png) no-repeat;
	background-size: contain;
}

.btn-add {
	float: right;
	background:url(/client/images/vip/bet-add.png) no-repeat;
	width: 52px;
	height: 55px;
	margin-top: 3px;
	margin-right: 15px;
	cursor: pointer;
	background-size: contain;
}

.btn-add:hover {
	background:url(/client/images/vip/bet-add-hover.png) no-repeat;
	background-size: contain;
}

.div-today {
	padding-left: 0;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-align: left;
	padding-bottom: 10px;
}

.icon-sign {
	width: 20px;
	height: 20px;
	margin-right: 2px;
}