.card-header h2{
    height: 1rem;
    line-height: 1rem !important;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
}

.modal-dialog {
    margin: 3rem 0.5rem;
}

.view-pic{
	width: 100%;
    height: auto;
    padding: 0.1rem;
    margin: 0;

}
