.card-header h2{
    height: 1rem;
    line-height: 1rem !important;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
}

.modal-dialog {
    margin: 3rem 0.5rem;
}

.view-pic{
	width: 100%;
    height: auto;
    padding: 0.1rem;
    margin: 0;

}
._container {
	padding: 0.2rem;
}

._content {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

._content img{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    max-width: none !important;
    max-height: 2rem !important;
    padding: 0.1rem 1rem;
}

._content2 {
    /*width: 100%;*/
    text-align: center;
    overflow: hidden;
    position: absolute;
}

._content2 img{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    max-width: none !important;
    max-height: 1rem !important;
    padding: 0.05rem;
}

.pos3 {
    margin: 0;
}

.pos4 {
    margin: 0 1rem;
}

.pos5 {
    margin: 1rem 0;
}

.pos6 {
    margin: 1rem;
}

.listBox3 .imgBox li {
    position: relative;
    margin: 0;
    text-align: center;
    align-content: center;
}

.slideImg .inBox {
	/*max-height: 4rem;*/
}

.slideImg .inBox img {
    padding: 1rem;
}

.hide {
	display: none;
}

.swiper-pagination {
	display: none !important;
}

.inList .item {
    width: 50%;
}

.wfBox .inBox .imgBox {
    min-height:100% !important;
}

.no-record {
    text-align: center;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}