/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
	body {
	    background-color: #f2f2f2;
	}

    .container {
        padding: 0;
        width: 100%;
    }

    @media only screen and (max-width: 500px) {
       .container {
            margin-top: 40px;
       } 
    }

    .image_wrapper {
    	width: 100%;
		/*height: 100%;*/
		margin: 0 auto;
    }

    .image_wrapper img {
	    width: 100%;
	}

    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border: none;
        margin-bottom: 10px;
        overflow: hidden; 
    }

    .panel-title {
        font-size: 12px;
        background: #fff;
        color: #ee3c3c;
        padding: 10px;
    }

    .panel-default input, .panel-default textarea {
    	font-size: 15px;
        background: #fff;
        color: #333;
        padding: 10px;
        border: none;
        width: 100%;
    }

    .button-wrapper {
    	margin-left: 10px;
    	margin-right: 10px;
    }

	.btn_save {
		background: #ff9528;
		font-size: 18px;
		color: #fff;
		border-radius: 5px;
		border: none;
		width: 100%;
		padding: 10px;
	}

	.left-menu {
	    padding-top: 0px;
	    font-size: 16px;
	}

	.lbl_name {
		font-size: 15px;
		color: #333;
	}

	.lbl_address {
		font-size: 13px;
		color: #666;
		padding-bottom: 10px;
	}

	.lbl_description {
		font-size: 13px;
		color: #666;
		height: 45px;
	}

	.lbl_price {
		font-size: 17px;
		color: #ff5e1e;
	}

	.col-xs-2 {
		padding: 0;
		text-align: center;
	}

	.col-xs-2 img {
		width: 60%;
		padding-top: 5px;
	}

	.icon-next {
		margin-top: 20%;
		font-size: 18px;
	}

	.col-xs-3 img {
		width: 100%;
		height: 100%;
		padding-bottom: 10px;
	}

	.col-xs-3, .col-xs-9 {
		padding-left: 0;
	}

	.col-xs-6 {
		font-size: 15px;
		color: #666;
	}

	.lbl_quantity {
		padding-top: 5px;
	}

	.input-group {
		padding-bottom: 10px;
	}

	.input-number {
		text-align: center;
	}

	#info { 
	    height: 1rem; 
	    position: fixed; 
	    bottom: 0;
	    width:100%;
	    background-color: #fff; 
	    opacity: 1;
	    color: #666;
	    font-size: 14px;
	    text-align: center;
	    display: table;
	}

	.btn-confirm {
		border: none;
		background: #ff9528;
		font-size: 19px;
		text-align: center;
		width: 100%;
		height: 1rem;
		color: #fff;
	}

	.no-padding {
		padding: 0;
		display: table-cell;
		height: 1rem;
	}

	.div_price {
		padding-top: 5px;
	}

	.span_price, .span_currency {
		color: #ff5e1e;
		font-size: 14px;
		padding-top: 10px;		
	}

	.span_price {
		font-size: 25px;
	}

	.back {
		cursor: pointer;
		color: black;
	}

	#modal-successful .modal-title {
		background: white;
		color: #333;
		text-align: center;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		padding:0;
		font-weight: 500;
		font-size: 17px;
		width: 100%;
	}

	#modal-successful .modal-warning-button {
		background: #ff9528;
		color: white;
		margin-left: 10%;
		margin-right: 10%;
		padding: 8px;
		font-size: 17px;
		border-radius: 30px;
		cursor: pointer;
	}

	#modal-successful .instructions {
		color: #666;
		font-size: 12px;
		margin: 10px 10px 20px 10px;
	}

	#modal-successful .highlight {
		color: #ff9528;
	}

	.img-successful {
		width: 80px;
		height: 80px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.error {
		color:#ee3c3c;
		padding-left:10px;
		font-size: 15px;
		font-weight: 500;
	}

	::-webkit-input-placeholder { /* Edge */
	  color: #999;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: #999;
	}

	::placeholder {
	  color: #999;
	}

	.error-msg {
		color: #fff;
	    font-size: 16px;
	    width: 220px;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	    border-bottom-left-radius: 3px;
	    border-bottom-right-radius: 3px;
	    background-color: #000;
	    padding: 10px;
	    text-align: center;
	    background-color: rgba(0, 0, 0, 0.6);
	    /* margin-top: 50px; */
	}