/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/

body {
    background-color: #f2f2f2;
}

/* Modal Box */
#csModal .modal-content, .modal-title {
    background: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#csModal .modal-full-height {
    text-align:center;
    padding-bottom: 10px;
    margin: 0 auto;
}

#csModal .modal-wechat {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#csModal .modal-title {
    background: #7dca33;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    font-weight: 700;
}

#csModal .modal-title h1 {
    margin-bottom: 10px;
    margin-top: 5px;
    color: #fff;
    font-size: 24px;
}

#csModal .modal-card {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
}

#csModal .copyvoucher {
    background: #f0f0f0;
    color: #7dca33;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 23px;
    padding: 5px;
}

#csModal .cutBtn, #csModal .cutBtn-success, #csModal .cutBtn-fail {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 6px;
    font-size: 23px;
    color: white;
    padding: 6px;
    background: #7dca33;
}

#csModal .cutBtn {
    cursor: pointer;
}

#csModal .cutBtn-success {
    background: #61b114;
}

#csModal .cutBtn-fail {
    background: #999999;
}

#csModal .instructions, #csModal .instructions-dark {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
}

#csModal .instructions-dark {
    font-size: 12px;
}

#csModal .highlight {
    color: #fca871;
}

@media only screen and (max-width: 360px) {
    #csModal .modal-content, #csModal .modal-title {
        width: 270px;
    }

    #csModal .modal-card {
        width: 230px;
        margin: 0 auto;
        font-size: 16px;
    }

    #csModal .instructions, #csModal .instructions-dark {
        font-size: 12px;
    }
}
/* End Modal box */

#csModal .modal {
  text-align: center;
  padding: 0!important;
}

#csModal .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#csModal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}