/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/

body {
    background-color: #f2f2f2;
}

/* Modal Box */
.modal-content, .modal-title {
    background: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.modal-full-height {
    text-align:center;
    padding-bottom: 10px;
    margin: 0 auto;
}

.modal-wechat {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-title {
    background: #4c89e2;
    /*color: white;*/
    text-align: center;
    margin-top: 10%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    font-weight: 700;
}

.modal-title h1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 700;
}

.modal-card {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
}

.copyvoucher {
    border: 1px solid #e3e3e3;
    background: #f0f0f0;
    color: #4380d9;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 30px;
}

.cutBtn, .cutBtn-success, .cutBtn-fail {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 6px;
    background-image: linear-gradient(#ffaf08, #ff830b);
}

.cutBtn {
    cursor: pointer;
}

.cutBtn-success {
    background: #1ba908;
}

.cutBtn-fail {
    background: #838383;
}

.instructions, .instructions-dark {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #cdcdcd;
}

.instructions-dark {
    color: #bababa;
}

@media only screen and (max-width: 360px) {
    .modal-content, .modal-title {
        width: 270px;
    }

    .modal-card {
        width: 230px;
        margin: 0 auto;
        font-size: 16px;
    }
}
/* End Modal box */

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}