.img-product {
	text-align:center;
	margin: 30px auto 0px auto;
}

.full-height {
	width: 370px;
	text-align:center;
	padding-bottom: 80px;
	margin: 0 auto;
}

.product_details {
    margin: 0 auto;
	width: 370px;
}

.card {
	width: 370px !important;
	margin: 0 auto;
	padding: 10px 0;
}

@media only screen and (max-width: 500px) {
    .product_details {
	    margin: 0 auto;
		width: 100%;
	}
	.card {
		width: 100%;
	}
	.full-height {
		width: 100%;
	}
}

.number {
	font-size: 30px;
}

.strikethrough-text {
	padding-top: 10px;
	margin-top: 0px;
	text-align: left;
	color: #757575;
	font-size: 14px;
}

.promo-price {
	text-align: left;
	color: #fd8401;
	font-size: 20px;	
}

.description {
	padding: 0 10px;
	color: #7d7d7d;
	font-size: 12px;
	text-align: left;
	font-weight: 500;
}

.instruction {
	padding: 10px;
	color: #b7b7b7;
	font-size: 20px;
	text-align: left;
}

.clear {
	clear: both;
}

.voucher-header {
    font: 14px sans-serif;
    position: relative;
    text-align: center;
    z-index: 1;
	color: #c6c6c6;
}

.voucher-header:before {
    border-top: 1px solid #c6c6c6;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 10px; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

.voucher-header span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
    padding: 0 15px; 
}

.voucher {
	margin-top: -8px;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 16px;
}

.code {
	color: #e15a00;
	font-size: 18px;
	padding-bottom: 10px;
}