html, body {
	height: 100%;
}

body{
	background: #f6f6f6;
	padding:0px;
	margin:0px;
}

.card-flex .cardBody {
    background-color: #8c36d9;
}

.full-height {
	padding-top: 0.2rem;
    margin: 0 auto;    
    position: relative;
    background-image: url("/client/images/wheel/background_game.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: scroll;
    background-color: #8c36d9;
    height: 10.3rem;
}

.information-table {
	margin: 0 auto;
	width: 100%;
}

.instruction {
	visibility: visible;
	font-size: 20px;
}

.btn-rectangle, .btn-rectangle:active {
	margin: 0 auto;
	background: url('/client/images/wheel/btn-default.png') no-repeat;
	background-size: contain;
    width: 100%;
    height: 100%;
    font-size: 0.4rem;
    color: #fff;
    padding-top: 0.16rem;
    outline: none !important;
	box-shadow: none;
	cursor: pointer;	
  /* other styles */
}

.left-rectangle {
	text-align: left;
	padding-left: 0.65rem;
}

.right-rectangle {
	text-align: right;
	padding-right: 0.65rem;
}


.btn-rectangle.clicked {
	margin: 0 auto;
	background: url('/client/images/wheel/btn-selected.png') no-repeat;
	background-size: contain;
    color: #8c6d28;
}

.bet-container, .bet {
	padding-top: 20px;
	font-size: 55px;
	color: #9d5f3e;
	display: none;
}

.btn-rectangle.clicked .guess{
	margin-top: -5px;
}

.button-wrapper {
	margin: 0 auto;
	width: 100%
	height: 80px;
	position: relative;
	margin-top: 0.4rem;
}

.button-card {
	margin-top: 0;
	width: 3.3rem !important;
	height: 1rem;
	float: left;
}

.hide {
	visibility: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  height: 0.9rem;
}

.box {
  font-size: 1em;
  color: #fff;
  background-color: transparent;
}

.btn-calculate {
	width: 2rem;
	height: 0.39rem;
}

.balance-banner {
	background: url('/clientapp/images/game-node/btn-wallet.png') no-repeat;
    width: 3rem;
    height: 0.84rem;
    float: left;
    /*z-index: 100;*/
    position: relative;
    color: #858585;
    cursor: pointer;
    margin-left: 0.1rem;
    font-size: 0.2rem;
    background-size: contain;
}

.btn-vip-wrapper {
	width: 149.5px;
	height: 50px;
	margin-top: 3px;
}

.btn-life {
	width: 2.14rem;
    height: 0.66rem;
    cursor: pointer;
    padding-top: 0.07rem;
    padding-left: 0.07rem;
    background: url(/client/images/btn-life.png) no-repeat top center;
    background-size: contain;
    text-align: center;
    color: #c77e97;
    font-size: 0.3rem;
    float: right;
    margin-top: 0.15rem;
    margin-right: 0.2rem;
}

.btn-profile {
	width: 1.48rem;
    height: 0.66rem;
    cursor: pointer;
    padding-top: 0.07rem;
    padding-left: 0.07rem;
    background: url(/client/images/btn-profile.png) no-repeat top center;
    background-size: contain;
    text-align: center;
    color: #c77e97;
    font-size: 0.3rem;
    float: right;
    margin-top: 0.15rem;
    margin-right: 0rem;
}

#spanAcuPoint {
	padding-right: 5px;
}

.spanAcuPointAndBalance{
	font-size: 0.35rem;
	color: #ff2626;
}

.right {
	float: right;
}

/* Modal Box */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content, .modal-title {
	background: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.modal-full-height {
	text-align:center;
	padding-bottom: 10px;
	margin: 0 auto;
}

.modal-wechat {
	margin-top: 0 !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-title {
	background: #4c89e2;
	color: white;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px;
	font-weight: 700;
}

.modal-title h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-weight: 700;
}

.modal-card {
	width: 250px;
	margin: 0 auto;
	font-size: 16px;
}

.copyvoucher {
	border: 1px solid #e3e3e3;
	background: #f0f0f0;
	color: #4380d9;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
	border-radius: 5px;
	font-size: 30px;
}

.cutBtn, .cutBtn-success, .cutBtn-fail {
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 30px;
	font-size: 20px;
	color: white;
	padding: 6px;
	background-image: linear-gradient(#ffaf08, #ff830b);
}

.cutBtn-success {
	background: #1ba908;
}

.cutBtn-fail {
	background: #838383;
}

.packet-title {
	color: #ffcccc;
	font-size: 50px;
	font-weight: 700;
	margin-top: 50px;
}

.packet-title.lose {
	color: #393939;
}

.modal-message-title, .modal-warning-title {
	color: #f03838;
	font-size: 22px;
}

.modal-lose-title {
	color: #7a7a7a;
	font-size: 29px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.modal-warning-title {
	color: #333333;
}

.modal-lose-content {
	color: #979797;
	font-size: 13px;
	padding-bottom: 0px;
}

.modal-lose-content {
	padding-bottom: 30px;
}

.modal-warning-content {
	color: #8e8e8e;
	font-size: 14px;
	padding-bottom: 30px;
}

.modal-invite-content {
	color: #999;
	font-size: 14px;
	padding: 10px;
	text-align: center;
	background: #f6f6f6;
	border-radius: 6px;
	margin-top: 20px;
}

.btn-close-wabao {
	color: #fff100;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

.img-warning {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.img-wabao {
	width: 80px;
	height: 95px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.modal-message-button, .modal-warning-button, .modal-manual-button, 
.modal-confirm-button, .modal-invite-button, .modal-redeem-button {
	background: #ff6868;
	color: #ffffff;
	padding: 5px;
	font-size: 16px;
	border-radius: 30px;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
}

.modal-warning-button {
	background: #f8db9f;
	color: #a17c3c;
	font-size: 18px;
	border-radius: 5px;

}

.modal-confirm-button {
	background: #ffffff;
	color: #ff6868;
	border: 1px solid #ff6868;
}

.modal-invite-button {
	border: 1px solid #ff6868;
	margin-top: 10px;
}

.modal-redeem-button {
	background: #fab235;
	margin-left: 0;
	margin-right: 0;
	font-size: 20px;
	padding: 8px;
}

.link-button:link, .link-button:visited, .link-button:hover, .link-button:active{
	text-decoration: none;
}

.instructions, .instructions-dark {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
	color: #cdcdcd;
}

.instructions-dark {
	color: #bababa;
}

.highlight {
	color: #e48f00;
}

.highlight-grey {
	color: #333;
}

.highlight-red {
	color: #ff414b;
}

.highlight-green {
	color: #2ec400;
}

.highlight-orange {
	color: #fe8c3e;
}

.highlight-peach {
	color: #ff7282;
	font-weight: 700;
}

.highlight-link {
	color: #64aee2;
	cursor: pointer;
	text-decoration: underline;
	text-align: center;
}

.btn-close {
	color: #ffd200;
	font-size: 16px;
	margin-top: 10px;
	width: 270px;
	padding-left: 30px;
	display: inline-block;
}

.btn-close a {
	text-decoration: none;
	color: #ffd200;
}

.glyphicon {
	font-size: 20px;
	display: block;
	float: left;
	padding-left: 10px;
}

.left {
	display: block;
	padding-bottom: 3px;
	float: left;
	padding-left: 10px;
}
/* End Modal box */

/* Wechat Modal */

#verify-steps .modal-content, .modal-title {
	background: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#verify-steps .modal-full-height {
	text-align:center;
	margin: 0 auto;
}

#verify-steps .modal-wechat {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#verify-steps .modal-title {
	background: #4c89e2;
	color: white;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px;
	font-weight: 700;
}

#verify-steps .modal-title h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-weight: 700;
}

#verify-steps .modal-card {
	width: 250px;
	margin: 0 auto;
	font-size: 16px;
}

#verify-steps .copyvoucher {
	border: 1px solid #dfdfdf;
	background: #f7f7f7;
	color: #51abff;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 6px;
	font-size: 20px;
	text-align: center;
}

#verify-steps .cutBtn, #verify-steps .cutBtn-success, #verify-steps .cutBtn-fail {
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	padding: 6px;
	background-color: #51acff;
	border: none;
	text-align: center;
	background-image: none;
}

#verify-steps .cutBtn {
	cursor: pointer;
}

#verify-steps .cutBtn-success {
	background: #1ba908;
}

#verify-steps .cutBtn-fail {
	background: #838383;
}

#verify-steps .instructions, #verify-steps .instructions-dark {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #999;
}

#verify-steps .instructions-dark {
	margin-bottom: 0px;
}

#verify-steps .btn-close {
	color: #ffd200;
	font-size: 16px;
	margin-top: 10px;
	display: block;
	text-align: center;
	width: 250px;
	padding-left: 0px;
}

#verify-steps .btn-close a {
	text-decoration: underline;
	color: #f7ff22;
}

#verify-steps .body-title {
	color: #51abff;
	font-size: 18px;
}

#verify-steps .glyphicon {
	font-size: 20px;
	display: block;
	float: left;
	padding-left: 10px;
}

#verify-steps .left {
	display: block;
	padding-bottom: 3px;
	float: left;
	padding-left: 10px;
}

#verify-steps .modal-title {
	background: url('/client/images/wechat-header.png') no-repeat;
	background-size: contain;
	color: white;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px;
	font-weight: 700;
	width: 300px !important;
	height: 255px;
}

#verify-steps .modal-title h1 {
	/*font-size: 20px;*/
	margin-bottom: 0px;
	margin-top: 100px;
	/*font-weight: 500;*/
	font-size: 14px !important;
	font-weight: 200 !important;
	color: #fffc22 !important;
}

#verify-steps .reward {
	/*font-size: 16px;*/
	color: #fffc22;
	font-weight: 200 !important;
	padding: 0 !important;
	margin-top: 0px;
}

#verify-steps .reward-amount {
	font-size: 55px;
	font-weight: 500;
	color: #fffc22;
}

#verify-steps .reward-instructions {
	/*color: #f2ee10;*/
	font-weight: 500;
	/*font-size: 15px;*/
	font-size: 16px;
	color: white;
}
/* End Wechat Modal*/

/* Game Rules Modal */
#game-rules .modal-title {
	background: white;
	color: #5b5b5b;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding:0;
	font-weight: 500;
	font-size: 26px;
	width: 100% !important;
	height: 5% !important;
}

#game-rules .modal-title h1 {
	font-size: 20px;
	padding-top: 30px;
	font-weight: 500;
}

#game-rules .modal-content {
  background-color: white;
  color: #959595;
  text-align: center;
  
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  padding: 10px;
  border: none;
}

#game-rules .instructions {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	padding:10px;
	text-align: left;
	letter-spacing: 0.5px;
	line-height: 0.4rem;
}

#game-rules .game-title {
	color: #f39f1c;
	font-size: 18px;
}

#game-rules .game-max-rules {
	color: #b9b9b9;
	font-size: 12px;
}

#game-rules .modal-body {
	padding: 0 !important;
}

#game-rules .modal-card {
	width: 100%;
}

#game-rules .modal-warning-title {
	padding-top: 10px;
	color: white;
	font-size: 26px;
}

#game-rules .modal-warning-info {
	background: #e32230;
	color: white;
	font-size: 11px;
	border-radius: 12px;
	width: 120px;
	padding: 2px;
	margin: 5px auto 15px auto;
}

#game-rules .wallet-point {
	color: #ff2737;
}

#game-rules .modal-content-wrapper {
	width: 250px;
	height: 56px;
	float: left;
	margin-left: 18px;
	margin-bottom: 10px;
	text-align: center;
}

#game-rules .modal-warning-content {
	background: url('/client/images/voucher-background.png') no-repeat;
	width: 541px;
	height: 121px;
	transform: scale(0.48); 
	-webkit-transform: scale(0.48);
	-webkit-transform-origin:left top;
}

#game-rules .voucher-wrapper {
	margin-left: 0px;
	padding: 25px;
}

#game-rules .modal-warning-button, #game-rules .modal-warning-button {
	background: #fcac12;
	color: white;
	border-radius: 25px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}

/* End Game Rules Modal */

/* Swiper */

.frame-wrapper {
    margin: 0 auto;
    width: 8rem;
	height: 6.3rem;
	display:block;    
}

.rules-content {
	font-size: 12px;
	/*color: #8c8c8c;*/
	color: white;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 20px;
}

.rules-title {
	color: white;
	text-align: center;
	font-size: 24px;
	padding-bottom: 20px;
}

.rules-content-1 {
	color: white;
	font-size: 14px;
	text-align: left;
}

.rules-content-2 {
	color: red;
	font-size: 14px;
	text-align: left;
	padding-bottom: 10px;
}

.rules-content-img-timeline {
	width: 250px;
    /*height: 426px;*/
}

.share-logo-wrapper {
	width: 300px;
	height: 38px;
	position: relative;
	text-align: center;
	margin-top: -30px;
}

.share-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.share-card {
	margin-top: 10px;
}

.modal-share-title {
	color: #999;
	font-size: 20px;
}

.modal-share-button {
	background: #f6f9ff;
	border-radius: 20px;
	font-size: 16px;
	color: #3774ff;
	padding: 5px;
	border: 1px solid #a2b9ff;
	width: 100px;
	margin: 0 auto;
}

.modal-vip-button {
	border-radius: 20px;
	font-size: 19px;
	padding: 5px;
	background: #fffbf7;
	border: 1px solid #d4b189;
	color: #c19867;
	margin-top: 10px;
}

#reset-life-share .modal-vip-button {
  background: url('/client/images/btn-invite.png') no-repeat top center;
  font-size: 18px;
  color: #fff;
  background-size: contain;
  height: 58px;
  padding-top: 12px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border: none;
}

#reset-life-share .modal-redeem-button {
  background: url('/client/images/btn-invite2.png') no-repeat top center;
  font-size: 18px;
  color: #fff;
  background-size: contain;
  height: 58px;
  padding-top: 12px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border: none;
}

#reset-life-share .modal-full-height {
	padding: 0;
}

#reset-life-share .span-purchase {
	color: #666;
	font-size: 16px;
	padding: 10px;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/client/images/preloader.gif') center no-repeat;
	background-color: rgba(255, 255, 255, 1);
	background-size: 32px 32px;
}

.reload {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/client/images/reload.png') center no-repeat;
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 20px;
	margin: 50px 0 0 -60px;
}

.spinning {
	color: #fff;
	font-size: 16px;
	visibility: hidden;
	width: 220px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 230px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #000;
    padding:7px;
    padding-left: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top:30px;
    z-index: 3;
}

/* Wechat Modal */
#lose-modal .modal-title {
	font-size: 20px;
	color: #999;
	font-weight: 500;
	margin-bottom: -1px;
}

.modal-win-title {
	font-weight: 500;
	font-size: 18px;
	color: #999;
	padding-top: 10px;
}

#lose-modal .modal-content{
	background: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#lose-modal .modal-body {
	padding-top: 0;
}

#lose-modal .modal-instruction {
	color: #999;
	font-size: 11px;
	line-height: 22px;
	text-align: left;
	margin-bottom: 20px;
	background: #f6f6f6;
	padding: 10px 12px 10px 15px;
	border-radius: 6px;
}

.modal-result{
	color: #62c807;
	font-weight: 700;
	font-size: 24px;
}

/* Win Modal */
#win-modal .packet-title {
	padding-top: 20px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}

#win-modal .modal-card {
    width: 260px;
    margin: 0 auto;
    font-size: 16px;
}

#win-modal .packet-value {
	font-size: 30px;
	color: #f65d7a;
	font-weight: 500;
	height: 95px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#win-modal .packet-info {
	font-size: 16px;
	font-weight: 500;
	color: #999;
	text-align: left;
	line-height: 24px;
	padding-left: 50px;
	height: 110px; 
}

#win-modal .packet-sign {
	font-size: 35px;
}

#win-modal .packet-currency {
	font-size: 20px;
}

#win-modal .modal-content {
  background: url('/client/images/packet-background.png') no-repeat;
  background-size: contain;
  color: white;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
  font-weight: 700;
  width: 301px !important;
  height: 382px;
  padding: 0;
  position:relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

#win-modal .modal-content {
  margin-top: -12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 296px;
  z-index: 9999;
  position:relative;
}

#win-modal .instructions {
  font-size: 16px;
  font-weight: 500;
  color: #ffe0d2;
  text-align: center;
  line-height: 28px;
  padding-top: 40px;
}

#win-modal .highlight {
  color: #333;
}

#win-modal .highlight-red {
	font-weight: 700;
}

#win-modal .btn-red-packet {
	margin-top: 10px;
  background: url('/client/images/btn-red-packet.png') no-repeat top center;
  font-size: 18px;
  color: #b95d0c;
  background-size: contain;
  width: 260px;
  height: 76px;
  padding-top: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}
/* Win Modal */

/* Reset Life Max Modal */
#reset-life-max .packet-title {
	padding-top: 20px;
	color: #fde203;
	font-size: 30px;
	font-weight: 500;
}

#reset-life-max .modal-card {
    width: 260px;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 90px;
}

#reset-life-max .packet-value {
	font-size: 36px;
	color: #fff;
	font-weight: 500;
}

#reset-life-max .modal-content {
  background: url('/client/images/packet-reset-life.png') no-repeat;
  background-size: contain;
  color: white;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
  font-weight: 700;
  width: 303px !important;
  height: 368px;
  padding: 0;
  position:relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

#reset-life-max .modal-content {
  margin-top: -12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 296px;
  z-index: 9999;
  position:relative;
}

#reset-life-max .instructions {
  font-size: 16px;
  font-weight: 500;
  color: #a32921;
  text-align: center;
  line-height: 28px;
  margin: 0 auto 20px auto;
}

#reset-life-max .highlight {
  color: #333;
}

#reset-life-max .highlight-red {
	font-weight: 700;
}

#reset-life-max .btn-red-packet {
  background: url('/client/images/btn-red-packet-reset-life.png') no-repeat top center;
  font-size: 18px;
  color: #c33234;
  background-size: contain;
  height: 45px;
  padding-top: 7px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border: none;
}
/* Reset Life Max Modal */

.btn-redeemcash {
	position: absolute;
    margin-left: 1.9rem;
    width: 1.58rem;
    height: 0.6rem;
    margin-top: 0.05rem;
    background: url(/client/images/wheel/btn-rules.png) no-repeat top center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 0.26rem;
    padding: 0.1rem 0 0 0.05rem;
}

.spanAcuPoint2 {
	position: absolute;
    margin-top: 0.16rem;
    text-align: center;
    width: 1.8rem;
    margin-left: 0.55rem;
    font-size: 0.25rem;
}

.caption_bet {
	color: #fef100 !important;
}

._1st_basic_topup {
	color: #e65e5e;
	font-weight: 600;
}

.speech-bubble-point {
	position: absolute;
    background-image: url(/clientapp/images/game-node/tishi.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 0.25rem;
    width: 2.5rem;
    height: 0.5rem;
    padding: 0.12rem 0;
    margin: 0.3rem 0 0 0.6rem;
    /* display: none; */
    display: block;
    z-index: 6;
    text-align: center;
}

a {
	text-decoration: none;
	color: snow;
}

.banmmer-rules {
	z-index: 7;
}

.span-play-count {
	font-weight: 700;
	display: inline-block;
}

.redeem-banner {
	padding: 0.4rem 0.4rem 0 0.4rem;
    text-align: center;
    margin: 0;
    height: auto;
    width: auto;
}

.redeem-banner img {
	width: 80%;
}

.to-top {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*display: flex;*/
    justify-content: space-between;
    text-align: right;
}

.to-top img{
	height: 60px;
}

#lose-modal .modal-win-title {
    font-weight: 500;
    font-size: 16px;
    color: #4d4d4d;
    padding: 8px 0 8px 0;
}

#lose-modal .modal-result {
    color: #62c807;
    font-weight: 500;
    font-size: 24px;
}


#modal-no-login .instructions {
    color: #fff;
    font-size: 0.3rem;
    text-align: left;
    line-height: 0.45rem;
    padding: 0.02rem 0 0.2rem 1.05rem;
    margin: 0;
}

#modal-no-login .highlight {
	color: #fff71d;	
}

#modal-no-login {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.nologin-bg {
	background: url(/client/images/nologin-bg2.png) no-repeat;
    background-size: contain;
    position: relative;
    padding: 3.7rem 0.3rem 0.6rem 0.3rem;
    height: 7.5rem;
    width: 5.5rem;
}

#modal-newbie .newbie-bg {
	background: url(/clientapp/images/game-node/newbie_bg.png) no-repeat;
    background-size: contain;
    position: relative;
    padding: 3.7rem 0.3rem 0.6rem 0.3rem;
    height: 7.5rem;
    width: 5.5rem;
}

.btn-withdraw {
	background: url(/clientapp/images/game-node/icon-withdraw.png) no-repeat;
    background-size: contain;
    position: relative;
    padding: 0.35rem;
    float: right;
    margin: 0.215rem 0.2rem;
}

/* modal-withdraw-insufficient */
#modal-withdraw-insufficient .modal-title {
	background: white;
	color: red;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding:0;
	font-weight: 500;
	font-size: 26px;
	/*width: 100% !important;*/
	/*height: 5% !important;*/
}

#modal-withdraw-insufficient .modal-content {
  background-color: white;
  color: #959595;
  text-align: center;
  
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  padding: 10px;
  border: none;
}

#modal-withdraw-insufficient .instructions {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	padding:0.3rem;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 0.6rem;
}

#modal-withdraw-insufficient .modal-body {
	padding: 0 !important;
}

#modal-withdraw-insufficient .modal-card {
	width: 100%;
}

#modal-withdraw-insufficient .modal-warning-button, #game-rules .modal-warning-button {
	background: #fcac12;
	color: white;
	border-radius: 25px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}

#modal-withdraw-insufficient .highlight-header {
	color: red;
	text-align: center;
	padding:0;
	font-weight: 500;
	font-size: 26px;
}

#modal-withdraw-insufficient .highlight-coin-max {
	color: red;
}

/* End modal-withdraw-insufficient */

/* modal-withdraw */
#modal-withdraw .modal-title {
	background: white;
	color: red;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding:0;
	font-weight: 500;
	font-size: 26px;
	/*width: 100% !important;*/
	/*height: 5% !important;*/
}

#modal-withdraw .modal-content {
  background-color: white;
  color: #959595;
  text-align: center;
  
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  padding: 10px;
  border: none;
}

#modal-withdraw .instructions {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	padding:0.3rem;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 0.4rem;
}

#modal-withdraw .modal-body {
	padding: 0 !important;
}

#modal-withdraw .modal-card {
	width: 100%;
}

#modal-withdraw .modal-warning-button, #game-rules .modal-warning-button {
	background: transparent;	
	color: #fcac12;
	border-radius: 25px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	border: 1px solid #fcac12;
}

#modal-withdraw .highlight-header {
	color: red;
	text-align: center;
	padding:0;
	font-weight: 500;
	font-size: 26px;
	line-height: 0.6rem;
}

#modal-withdraw .highlight-coin-max {
	color: red;
}

#modal-withdraw .btn-go-withdraw {
	background: #fcac12;
	color: white;
	border-radius: 25px;
	padding: 10px;
	margin:5% 10%;
}

/* End modal-withdraw */