@media all and (max-width:724px){
	html, body {
		height: 100%;
	}
}

.full-height {
	padding-top: 60px;
	font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    background: url("/client/images/background_game.jpg") top center no-repeat;
    background-size: 560px;
    width: 560px;
    text-align:center;
    margin: 0 auto;
    height: 100%
}

.text {
	font-size:24px;
}

.btn-rectangle, .btn-rectangle:active {
	margin: 0 auto;
	background: url('/client/images/game.png') no-repeat -280px -240px;
	width: 510px;
	height: 200px;
	transform: scale(0.45); 
	-webkit-transform: scale(0.45);
	-webkit-transform-origin:left top;
    font-size: 60px;
    color: #555555;
    padding-top: 30px;
    outline: none !important;
	box-shadow: none;

  /* other styles */
}

.btn-rectangle.clicked {
	margin: 0 auto;
	background: url('/client/images/game.png') no-repeat -835px -240px;
	width: 510px;
	height: 200px;
	transform: scale(0.45); 
	-webkit-transform: scale(0.45);
	-webkit-transform-origin:left top;
    font-size: 60px;
    color: #6a2d1b;
    padding-top: 30px;

  /* other styles */
}

.button-wrapper {
	margin: 0 auto;
	width: 500px;
	height: 100px;
	position: relative;
}

.button-card {
	margin-top: -20px;
	width: 240px !important;
	height: 100px;
	float: left;
}

.right {
	float: right;
}

.progress-bar-container {
    width: 512px;
	height: 50px;
	padding-top: 40px;
}

.progress-bar {
  background: url('/client/images/game.png') no-repeat -274px -60px;
  width: 1025px;
  height: 84px;
  transform: scale(0.5); 
  -webkit-transform: scale(0.5);
  -webkit-transform-origin:left top;
  padding-top: 26px;
  /* other styles */
}

.progress-bar-container .circle,
.progress-bar-container .bar,
.progress-bar-container .bar-short,
.progress-bar-container .bar-long {
    display: inline-block;
    width: 30px; height: 30px;
    border-radius: 30px;
    margin-top:2px;
}

.progress-bar-container .circle{
	background: #fff971;
}

.progress-bar-container .circle .label {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff971;
    font-size: 30px;
    margin-top: -10px;
    margin-left: -12px;
}

.progress-bar-container .title {
    display: block;
    width: 30px;
    height: 30px;
    color: #f2deff;
    font-size: 30px;
    margin-top: -80px;
    margin-left: -8px;
    position: absolute;
}

.progress-bar-container .bar {
    position: relative;
    width: 152px;
    height: 6px;
}

.progress-bar-container .bar-short {
	position: relative;
    width: 148px;
    height: 6px;
}

.progress-bar-container .bar-long {
	position: relative;
    width: 154px;
    height: 6px;
}

.progress-bar-container .circle.done {
    background: #000;
}

.progress-bar-container .circle.done .label {
    color: #8b8ae7;
}

.speech-bubble { 
	display: inline-block;
	position: absolute; 
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: .4em;
	padding: 20px;
	z-index: 10;
	margin-top: -140px;
	font-size:30px;
} 
.speech-bubble:after { 
	content: ''; 
	position: absolute; 
	bottom: 0;  
	width: 0; 
	height: 0; 
	border: 10px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.2); 
	border-bottom: 0; 
	margin-left: -10px; 
	margin-bottom: -10px; 
	left: 50%;
}

.hide {
	visibility: none;
}

.level-one, .level-two {
	left: 0px;
}

.level-three{
	left: 115px;
}

.level-four{
	left: 305px;
}

.level-five, .level-six {
	right: 0px;
}

.level-one:after {
	left: 6%;
}

.level-two:after {
	left: 39%;
}

.level-five:after {
	left: 63%;
}

.level-six:after {
	left: 94%;
}

.bet-container {
	font-size: 30px;
	margin-top: -60px;
	margin-left: 305px;
	width: 100px;
	float: right;
	display: none;
	position: absolute;
}


.information-table {
	margin: 0 auto;
	width: 540px;
	padding-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto 150px;
  height: 40px;
}

.box {
  font-size: 14px;
  color: #fff;
}

.coin {
	background: url('/client/images/game.png') no-repeat -1674px -715px;
	width: 82px;
	height: 82px;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
	float: left;
	z-index: 100;
	position: relative;
}

.drumstick {
	background: url('/client/images/game.png') no-repeat -1680px -1355px;
	width: 90px;
	height: 90px;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
	float: left;
	margin-top: -8px;
	z-index: 100;
	position: relative;
}

.number {
	float: left;
	position: absolute;
	margin-top: 3px;
	margin-left: 15px;
	background-color: #63147f;
	border-radius: 20px;
	font-size: 22px;
	padding-left: 20px;
	width: 120px;
	padding-bottom: 1px;
}

.rules{
	float: right;
	background-color: #63147f;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	font-size: 18px;
	margin-top: 3px;
	padding: 3px 10px 5px 20px;
}

.long {
	width: 160px;
	padding-left: 35px;
}

.info-wrapper {
	float: right;
	margin-top: 2px;
	margin-left: 5px;
	height:30px;
    width:55px;
}

.info {
	background: url('/client/images/game.png') no-repeat -1664px -659px;
	width: 110px;
	height: 56px;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
	float: left;
	text-align: center;
	padding: 10px;
	position: relative;
    display: inline-block;
}

.right {
	float: right;
	margin-right: 15px;
}