html, body {
	height: 100%;
}

body{
	background: #f6f6f6;
	padding:0px;
	margin:0px;	
}

.card-flex .cardBody {
	background-image: url("/client/images/background_game.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.full-height {
	padding-top: 10px;
    margin: 0 auto;    
    position: relative;
    background: none;
}

.information-table {
	margin: 0 auto;
	width: 400px;
	padding-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .swiper-container {
		width: 100%;
	}

	.information-table {
		width: 100%;
	}
}

.text {
	font-size:24px;
}

.instruction {
	visibility: visible;
	margin-bottom: 45px;
	font-size: 16px;
}

.btn-rectangle, .btn-rectangle:active {
	margin: 0 auto;
	background: url('/client/images/game.png') no-repeat -280px -240px;
	width: 510px;
	height: 200px;
	transform: scale(0.33); 
	-webkit-transform: scale(0.33);
	-webkit-transform-origin:left top;
    font-size: 60px;
    color: #555555;
    padding-top: 30px;
    outline: none !important;
	box-shadow: none;
	cursor: pointer;
  /* other styles */
}

.btn-rectangle.clicked {
	margin: 0 auto;
	background: url('/client/images/game.png') no-repeat -835px -240px;
	width: 510px;
	height: 200px;
	transform: scale(0.33); 
	-webkit-transform: scale(0.33);
	-webkit-transform-origin:left top;
    font-size: 60px;
    color: #6a2d1b;
    padding-top: 30px;
    cursor: pointer;
  /* other styles */
}

.button-wrapper {
	margin: 0 auto;
	width: 360px;
	height: 100px;
	position: relative;
	padding-left: 5px;
	margin-top: -10px;
}

.button-card {
	margin-top: -45px;
	width: 170px !important;
	height: 70px;
	float: left;
}

@media only screen and (max-width: 360px) {
    .btn-rectangle, .btn-rectangle:active {
		transform: scale(0.3); 
		-webkit-transform: scale(0.3);
		-webkit-transform-origin:left top;
	    font-size: 60px;
	    padding-top: 30px;
	  /* other styles */
	}

	.btn-rectangle.clicked {
		width: 510px;
		height: 200px;
		transform: scale(0.3); 
		-webkit-transform: scale(0.3);
		-webkit-transform-origin:left top;
	    font-size: 60px;
	    padding-top: 30px;
	  /* other styles */
	}

	.button-wrapper {
		margin: 0 auto;
		width: 310px;
		height: 120px;
		position: relative;
		padding-left: 5px;
		margin-top: -10px;
	}

	.button-card {
		margin-top: -45px;
		width: 150px !important;
		height: 70px;
		float: left;
	}
}

.progress-bar-container {
    width: 360px;
	height: 50px;
	margin: 0 auto;
	padding-left: 5px;
}

.progress-bar {
	background: url('/client/images/game.png') no-repeat -274px -60px;
	width: 1025px;
	height: 85px;
	transform: scale(0.34); 
	-webkit-transform: scale(0.34);
	-webkit-transform-origin:left top;
	padding-top: 26px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  /* other styles */
}

.progress-bar-container .circle,
.progress-bar-container .bar,
.progress-bar-container .bar-short,
.progress-bar-container .bar-long {
    display: inline-block;
    width: 30px; height: 30px;
    border-radius: 30px;
    margin-top:2px;
}

.progress-bar-container .circle{
	background: #fff971;
}

.progress-bar-container .circle .label {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff971;
    font-size: 30px;
    margin-top: -10px;
    margin-left: -12px;
}

.progress-bar-container .title {
    display: block;
    width: 30px;
    height: 30px;
    color: #f2deff;
    font-size: 40px;
    margin-top: -80px;
    margin-left: -10px;
    position: absolute;
}

.progress-bar-container .bar {
    position: relative;
    width: 152px;
    height: 6px;
}

.progress-bar-container .bar-short {
	position: relative;
    width: 148px;
    height: 6px;
}

.progress-bar-container .bar-long {
	position: relative;
    width: 154px;
    height: 6px;
}

.progress-bar-container .circle.done {
    background: #000;
}

.progress-bar-container .circle.done .label {
    color: #8b8ae7;
}

@media only screen and (max-width: 360px) {
	.progress-bar-container {
	    width: 320px;
		height: 50px;
		margin: 0 auto;
		padding-left: 5px;
	}

	.progress-bar {
		transform: scale(0.3); 
		-webkit-transform: scale(0.3);
		-webkit-transform-origin:left top;
		padding-top: 26px;
	  /* other styles */
	}
}

.speech-bubble { 
	display: inline-block;
	position: absolute; 
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: .4em;
	padding: 25px;
	z-index: 10;
	margin-top: -150px;
	font-size:40px;
} 
.speech-bubble:after { 
	content: ''; 
	position: absolute; 
	bottom: 0;  
	width: 0; 
	height: 0; 
	border: 10px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.2); 
	border-bottom: 0; 
	margin-left: -10px; 
	margin-bottom: -10px; 
	left: 50%;
}

.hide {
	visibility: none;
}

.level-one, .level-two {
	left: 0px;
}

.level-three{
	left: 26px;
}

.level-four{
	left: 210px;
}

.level-five, .level-six {
	right: 0px;
}

.level-one:after {
	left: 6%;
}

.level-two:after {
	left: 30%;
}

.level-five:after {
	left: 73%;
}

.level-six:after {
	left: 95%;
}

.bet-container {
	font-size: 40px;
	margin-top: -65px;
	margin-left: 320px;
	width: 100px;
	float: right;
	display: none;
	position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: auto  80px;
  height: 40px;
}

.box {
  font-size: 1em;
  color: #fff;
}

.coin {
	background: url('/client/images/game.png') no-repeat -1674px -715px;
	width: 82px;
	height: 82px;
	transform: scale(0.3); 
	-webkit-transform: scale(0.3);
	-webkit-transform-origin:left top;
	float: left;
	z-index: 100;
	position: relative;
	margin-left: 5px;
}

.drumstick {
	background: url('/client/images/game.png') no-repeat -1680px -1355px;
	width: 90px;
	height: 90px;
	transform: scale(0.31); 
	-webkit-transform: scale(0.31);
	-webkit-transform-origin:left top;
	float: left;
	margin-top: -4px;
	z-index: 100;
	position: relative;
}

.number {
	float: left;
	position: absolute;
	margin-left: 16px;
	margin-top: 1px;
	background-color: #63147f;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	min-width: 60px;
	font-size: 0.7em;
	text-align: right;
	padding-right: 5px;
	padding-top: 0px;
	height:22px;
	width: auto;
}

.btn-rules{
	float: right;
	background-color: #63147f;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 2px 5px 0px 15px;
	height:22px;
	font-size: 0.7em;
	cursor: pointer;
}

.balance {
	font-size: 1.1em;
}

.life-balance {
	color: #14c409;
	font-size: 1.1em;
}

#spanAcuPoint {
	padding-right: 5px;
}

.long {
	min-width: 110px;
	padding-left: 15px;
	padding-right: 5px;

}

.btn-redeem:link, .btn-redeem:visited, .btn-redeem:hover, .btn-redeem:active {
	color: white;
}

.btn-calculate-wrapper {
	float: right;
	height:21px;
    width:30px;
    font-size: 2em;
    margin-top: 2px;
    margin-right: 2px;
    display: inline-block;
}

.btn-calculate {
	background: url('/client/images/game.png') no-repeat -1664px -659px;
	width: 110px;
	height: 54px;
	transform: scale(0.33); 
	-webkit-transform: scale(0.33);
	-webkit-transform-origin:left top;
	float: left;
	text-align: center;
	position: relative;
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
}

.right {
	float: right;
}

/* Modal Box */
.modal-content, .modal-title {
	background: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.modal-full-height {
	text-align:center;
	padding-bottom: 10px;
	margin: 0 auto;
}

.modal-wechat {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-title {
	background: #4c89e2;
	color: white;
	text-align: center;
	margin-top: 10%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px;
	font-weight: 700;
}

.modal-title h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-weight: 700;
}

.modal-card {
	width: 250px;
	margin: 0 auto;
	font-size: 16px;
}

.modal-packet-wrapper {
	width: 360px;
	height: 390px;
	top: 10%;
	margin: 0 auto;
}

.modal-packet {
	width: 730px;
	height: 830px;
	font-size: 16px;
	margin: 0 auto;
	background-image: url("/client/images/packet.png");
	background-color: transparent;
	background-repeat: no-repeat;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
}

.copyvoucher {
	border: 1px solid #e3e3e3;
	background: #f0f0f0;
	color: #4380d9;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
	border-radius: 5px;
	font-size: 30px;
}

.cutBtn, .cutBtn-success, .cutBtn-fail {
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 30px;
	font-size: 20px;
	color: white;
	padding: 6px;
	background-image: linear-gradient(#ffaf08, #ff830b);
}

.cutBtn-success {
	background: #1ba908;
}

.cutBtn-fail {
	background: #838383;
}

.packet-title {
	color: #3f9e06;
	font-size: 50px;
	font-weight: 700;
	margin-top: 50px;
}

.packet-title.lose {
	color: #393939;
}

.packet-coin-wrapper {
	margin: -20px auto 30px auto;
	width: 300px;
}

.packet-coin {
	background: url('/client/images/game.png') no-repeat -1674px -715px;
	width: 82px;
	height: 82px;
	transform: scale(1); 
	-webkit-transform: scale(1);
	-webkit-transform-origin:left top;
	display: inline-block;
	z-index: 100;
	position: relative;
	margin-top: 15px;
}

.packet-point {
	font-size: 80px;
	color: #ffee56;
	display: inline-block;
    vertical-align:top;
    padding: 0;
    margin: 0;
}

.packet-note {
	color: #c07e27;
	font-weight: 700;
	font-size: 25px;
	margin-top: 20px;
}

.packet-instruction {
	color: white;
	font-size: 40px;
	margin-top: 80px;
	padding-bottom: 20px;
}

.extra-padding {
	padding-bottom: 90px;
}

.packet-button {
	font-size: 40px;
	color: #e05c96;
	font-weight: 700;
	width: 360px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 28px;
	padding-top: 20px;
	cursor: pointer;
}

.packet-button-note {
	color: #787878;
	font-size: 20px;
	margin-top: -5px;
}

.packet-button-name {
	margin-top: -12px;
}

.packet-acupoint {
	color: #c81b1b;
}

.modal-message-title {
	color: #656565;
	font-size: 22px;
	font-weight: 700;
}

.modal-message-content {
	color: #9a9a9a;
	font-size: 16px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 30px;
}

.img-warning {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.modal-message-button {
	background: #f8db9f;
	color: #9c731b;
	padding: 5px;
	font-weight: 700;
	font-size: 22px;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

@media only screen and (max-width: 360px) {
	.modal-packet-wrapper {
		width: 301px;
		height: 337px;
	}

	.modal-packet {
		transform: scale(0.42); 
		-webkit-transform: scale(0.42);
	}
}

.link-button:link, .link-button:visited, .link-button:hover, .link-button:active{
	text-decoration: none;
}

.icon-verify-wrapper {
	height: 120px;
	width: 120px;
	display: inline-block;
}

.icon-verify {
	background: url('/client/images/game.png') no-repeat -1389px -17px;
	width: 380px;
	height: 380px;
	transform: scale(0.3); 
	-webkit-transform: scale(0.3);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	color: #000;
}

.instructions, .instructions-dark {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
	color: #cdcdcd;
}

.instructions-dark {
	color: #bababa;
}

.img-step {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.step {
	margin-top: 5px;
	color: #f1ff0a;
}

.step-details {
	color: white;
	margin-top: 10px;
}

.btn-close {
	color: #ffd200;
	font-size: 16px;
	margin-top: 10px;
	width: 270px;
	padding-left: 30px;
	display: inline-block;
}

.btn-close a {
	text-decoration: none;
	color: #ffd200;
}

.glyphicon {
	font-size: 20px;
	display: block;
	float: left;
	padding-left: 10px;
}

.left {
	display: block;
	padding-bottom: 3px;
	float: left;
	padding-left: 10px;
}

@media only screen and (max-width: 360px) {
	.modal-content, .modal-title {
		width: 270px;
	}

	.modal-card {
		width: 230px;
		margin: 0 auto;
		font-size: 16px;
	}
}
/* End Modal box */

/* Wechat Modal */
.wechat-title {
	color: #4b89e2;
}

.btn-submit-wrapper {
	background: #4a87e2;
	width: 300px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -1px;
	margin-top: 1px;
}

.btn-submit, .btn-submit:hover {
	background: #4a87e2;
	color: white;
	margin: 0 auto;
	font-size: 18px;
	padding: 10px 10px 1px 10px;
	font-weight: 500;
	height: 45px;
	width: 160px;
	display: block;
}

.modal-input input {
	background: #f7f7f7;
	border: 1px solid #dfdfdf;
	color: #999999;
	padding: 5px 10px;
	width: 250px;
	border-radius: 5px;
}

.wechat-wrapper {
	background: #f7f7f7;
	border: 1px solid #dfdfdf;
	width: 250px;
	border-radius: 5px;
	margin: 10px auto;
}

.wechat-wrapper img {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.wechat-wrapper div {
	color: #3975e2;
	font-size: 14px;
	margin-bottom: 20px;
}

.alert {
	padding: 5px;
	font-size: 12px;
}

@media only screen and (max-width: 360px) {
	.modal-input input {
		width: 220px;
	}

	.wechat-wrapper {
		width: 220px;
	}

	.btn-submit-wrapper {
		width: 270px;
	}
}
/* End Wechat Modal*/

/* Swiper */

iframe {
	width: 400px;
	height: 330px;
	margin: 0 auto;
	display:block;
}

.swiper-container {
  width: 400px;
  height: 330px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .swiper-container {
    	width: 100%;
	  	height: 300px;
	}

	iframe {
		width: 350px;
		height: 300px;
	}
}

.flickity-button {
  background: transparent;
}

.flickity-button-icon {
  fill: transparent;
}

.flickity-prev-next-button {
	border-radius: 0px;
}

.flickity-prev-next-button.previous {
  left: 0px;
  top: 110px;
  right: auto;
  background: url('/client/images/game.png') no-repeat -65px -640px;
  width: 80px;
  height: 400px;
  transform: scale(0.3); 
  -webkit-transform: scale(0.3);
  -webkit-transform-origin:left top;
}

.flickity-prev-next-button.next {
  top: 110px;
  background: url('/client/images/game.png') no-repeat -65px -240px;
  width: 80px;
  height: 400px;
  transform: scale(0.3); 
  -webkit-transform: scale(0.3);
  -webkit-transform-origin:left top;
  right: -56px;
}

.rules-content {
	color: #8c8c8c;
	text-align: left;
}