/* Tabs */
.full-width-tabs {
    /*padding-top: 0.2rem;*/
}

.full-width-tabs > .nav-pills > .active > a {
    text-decoration: none;
    color: #ff6a42 !important;
    background-color: transparent !important;
}
.full-width-tabs > .nav-pills > li > a{
    border-radius:0;
    color:#666666;
    font-weight: 500;
    background: #ffffff;
    font-size: 0.32rem;
    padding: 0 0.2rem;
}

.full-width-tabs > ul.nav.nav-pills, .modal-row > ul.nav.nav-pills {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-pills > li, .modal-row > ul.nav.nav-pills > li{
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-pills > li > a, .modal-row > ul.nav.nav-pills > li > a{
    text-align: center;
}

.take-all-space-you-can{
    width:100%;
}
/* End Tabs */
