.history-body {
    display: table;
    margin: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.32rem;
    background: transparent;
    border-radius: 0.12rem;
}

.history-wrapper {
    display: table-cell;
}

.history-table {
    border-collapse: separate;
    border-spacing: 0.1rem;
    margin: 0.35rem auto 0 auto;
    padding: 0 0.1rem;
}

.history-table td {
    background-color: #f8f8f8;
    padding: 0px 0.2rem 0.06rem 0.2rem;
    margin: 0.4rem auto;
    text-align: center;
    height: 0.6rem;
    color: #bbb;
    font-weight: 500;
    border: 1px solid #efefef;
    border-radius: 0.06rem;
}

td.history {
    font-size: 0.22rem;
    color: #333;
    text-align: left;
    min-width: 3.8rem;
}

td.history-number {
    width: 1.4rem;
    font-size: 0.24rem;
    padding: 0px 0.1rem 0.06rem 0.1rem;
}


td.legend, td.timer {
    padding: 0 0 0 0.12rem;
    height: 0.4rem;
    background-color: white;
    border: none;
}

td.timer {
    font-size: 0.34rem;
    color: #333;
    font-weight: 500;
    padding: 0.1rem 0;
}

.legend-item {
    float: left;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    color: white;
    font-size: 0.24rem;
}

.overlap {
    margin-left: -0.46rem;
}

table .odd {
    color: #fb973f;
}

table .even {
    color: #b77eff;
}

.points {
    float: right;
    color: #5b5563;
    font-size: 0.4rem;
    margin-top: 0.1rem;
    font-weight: 100;
}

.additional {
    color: #48b43d;
    font-size: 0.36rem;
}