html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
}

tbody td {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 10px 3px 10px;
    margin: 20px auto;
    text-align: center;
    height: 26px;
    color: #8c868a;
    font-weight: 600;
}

td.history {
    width: 248px;
}

.legend {
    background-color: transparent;
}

.legend-item {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    color: white;
    font-size: 12px;
}

.overlap {
    margin-left: -23px;
}

table .label {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    margin-top: 4px;
    color: #b5b5ba;
    font-size: 15px;
}

table .odd, .even, .odd-fail, .even-fail {
    float: left;
    margin-right: 5px;
}

/* Done / Active */
table .odd .label {
    color: #FFF;
    background: #54d41d;
}

table .even .label {
    color: #FFF;
    background: #ff7200;
}

table .odd-fail {
    z-index: 100;
    position: relative;
}

table .odd-fail .label {
    color: #FFF;
    background: #585858;
    border: 2px solid #54d41d;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
}

table .even-fail .label {
    color: #FFF;
    background: #585858;
    border: 2px solid #ff7200;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
}

.points {
    float: right;
    color: #5b5563;
    font-size: 24px;
    margin-top: 5px;
    font-weight: 100;
}

.additional {
    color: #48b43d;
    font-size: 18px;
}