.sticky {
	position: fixed;
	top: 0;
	z-index: 1000;
	left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 760px) {
    .sticky {
		width: 100%;
	}
}

.navbar-default {
	border-bottom: #2px solid #525a7e;
	border-left: none;
	border-right: none;
	border-top: none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	text-align: center;
	 margin: 0 auto;
}

.div-brand {
	text-align: center;
}

.div-icon {
	position: relative;
	border: 2px solid #ffffff;
	border-radius: 5px;
	text-align: center;
	padding:0px;
	margin: 0px;
	width: 60px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.div-icon a {
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
}

.banner-bg {
	font-family: 'Lato',verdana, sans-serif;
    text-align:center;
    background:#394165;
	margin-top: 85px;
}

.navbar-brand {
	padding: 0;
	float: none;
	margin-left: 0;
}

.logo {
    margin: 0 auto;
	width: 210px;
	height: 50px;
	border-radius: 18px;
}

.banner {
    margin: 0 auto;
	border-radius: 18px;
}

.product {
	width: 110px;
	height: 110px;
	margin: 10px;
}

.card {
	width: 100%
	margin: 0 auto;
}

.card-title {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	font-size:20px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:left;
}

.full-height {
	padding-bottom: 30px;
}

.listing {
	width: auto !important;
	margin: 0 auto;
	padding: 10px 0 ;
	background-color: #ffffff;
	border-radius: 5px;
	text-align: left;
}

.title {
	font-size:20px;
	font-weight: 500;
	text-align:left;
	margin: 10px 0;
}

.number {
	background-color: #f5c607;
	color: #ffffff;
	padding: 2px 8px;
	border-radius: 5px;
}

.button {
    background-color: #f5c607;
    border: none;
    color: white;
    padding: 2px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 5px;
	float: right;
}

.btn_recommend {
	background-color: #a1a6e6;
	border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
	border-radius: 20px 5px 5px 20px;
	float: right;
	font-size: 25px;
	font-weight: 500;
	text-align: left;
	padding-left: 60px;
}

.button-wrapper {
	width: 135px;
	height: 40px;
	position: relative;
	float: right;
	margin-top: 0px;
}

.btn_recommend {
	background: url('/client/images/icon.png') no-repeat -1100px -720px;
	width: 270px;
	height: 60px;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
	position: absolute;
}

.btn-rectangle, .btn-rectangle:hover, .btn-rectangle:visited, .btn-rectangle:link {
  width: 920px !important;
  height: 100px !important;
  background-color: #6875aa;
  color: white;
  font-size:50px;
  padding-top: 10px;
  border-radius: 10px;
}

.description {
	padding: 10px 0px 10px 5px;
	color: #989898;
	font-size: 12px;
}

.price {
	color: #757575;
	font-size: 18px;
	padding-bottom: 18px;
	padding-left: 5px;
}

.promo-price {
	border-radius: 5px;
	border: 1px solid #c96776;
	text-align: center;
	color: #c96776;
	font-size: 12px;
}

.view {
	float: right;
	text-align: right;
	color: #a6a6a6;
	padding-right: 10px;
}

.clear {
	clear: both;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
    text-align: center;
}

.square {
    height: 75px;
    width: 75px;
}

.btn_wabao {
	margin-left: 5px;
	background-color: red;
	width: 100px;
	height: 20px;
	color: white;
  	font-size: 12px;
  	border-radius: 5px;
	position: absolute;
	border: 1px solid grey
}

.col-xs-6 {
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
}