@import url(https://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.fade {
    cursor: pointer;
}

.container {
    width: 100%;
    background-color: #ff971c;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #ff971c;
}

.card {
    width: 100%;
    height: 2rem;
    margin: 0 auto;
    font-size: 16px;
    background: #fff;
}

.card  img {
    width: 100%;
    height: 100%;
}

.nav-top {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    height: 45px;
    font-weight: 600;
    color: #fff;

}

.left {
    float: left;
    width:33.33333%;
    text-align:left;
    padding: 0 0 0 10px;
}

.center {
    float: left;
  width:33.33333%;
  text-align:center;
}

.right {
    float: left;
  width:33.33333%;
  text-align:right;
  padding: 0 10px 0 0;
}

.nav-top .left a{
    color: #fff;
}

.nav-top-back {
    padding-bottom: 3px !important;
    height: 20px !important;
    width: 11px !important;
}

.banner {
    background: url('/client/images/how-to-play/banner.png') no-repeat;
    background-color: #ff971c;
    background-size: contain;
}

.note {
    border-radius: 20px;
    background-color: #fff8e0;
    background-size: cover;
    padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    margin: 0.5rem;
    color: #c78d50;
    font-size: 0.27rem;
    text-align: left;
}

.note-top {
    margin-top: 3.2rem;
}

.title {
    background: url(/client/images/how-to-play/title.png) no-repeat;
    background-size: contain;
    padding: 0.09rem 0.4rem 0 0.4rem;
    color: #fff;
    font-size: 0.3rem;
    font-weight: bold;
    height: 1rem;
    text-align: center;
    position: relative;
    margin: -0.31rem 0.5rem 0.1rem 0.5rem;
}

.img-money {
    width: 1.2rem !important;
    position: relative;
    margin: -1.4rem 0 0 4.4rem;
    padding: 0.1rem;
}

.btn-tips {
    background: #f5f0ff;
    color: white;
    font-size: 0.3rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 0.7rem;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    margin: 0.3rem 0.8rem 0.1rem 0.8rem;
    cursor: pointer;
    text-align: center;
}

.introduction {
}

.product {
 margin: 0;
 height: 5rem;
 background: transparent;
}

.redeem-prize .col-xs-6 {
    padding: 0;
}

.left-box {
    float: left;
    width: 25%;
    padding-right: 5px;
    padding-bottom: 10px;
    position: relative;
    display: table;
}

.right-box {
    float: left;
    width: 30%;
    padding-left: 5px;
    padding-bottom: 10px;
    position: relative;
    display: table;
}

.prize-box {
    background-size:150px 150px;
    position: relative;
    display: table-cell;
}

.prize-box .image-wrapper {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 auto;
}

.prize-box .image-wrapper img {
    /*margin: 0.3rem auto;*/
    width: 100%;
    height: 100%;
    background-color: #f8f1d9;
    border-radius: 10px;
    padding:0.1rem;
}

.redeem-product {
    font-size: 0.2rem;
    color: #cf8d50;
    margin-top: 0;
    text-align: center;
    padding: 0.05rem 0.08rem 0.05rem 0.08rem;
    /*height: 1rem;    */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;    
}

.redeem-price {
    background-color: #ff874c;
    font-size: 0.18rem;
    color: #fff8e0;
    text-align: center;
    width: 80%;
    display: block;
    border-radius: 5px;
    margin-left: 0.13rem;
}

.redeem-currency {
    font-size: 0.2rem;
}

.redeem-button-wrapper {
    width: 40%;
    float: left;
}

.redeem-button {
    background:url(/client/images/vip/redeem-button.png) no-repeat;
    width: 1.02rem;
    height: 0.44rem;
    background-size: contain;
    font-size: 0.24rem;
    padding-top: 0.04rem;
    cursor: pointer;
}

.redeem-details {
    overflow: hidden;
    margin-bottom: 0.2rem;
    margin-top:0.1rem;
}

.redeem-details a {
    color: white;
}

.redeem-info {
    margin-bottom: 30px;
}
