@import url(https://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.container {
	width: 500px;
	background-color: #f2f2f2;
	position: relative;
}
	
@media only screen and (max-width: 500px) {
    .container {
		width: 100%;
		padding: 0;
	}
}

html, body {
	height: 100%;
	background: #f2f2f2;
}

.full-height {
    background:#f2f2f2;
}

.card {
	font-size: 16px;
	color: white;
}

.member-wrapper {
	padding: 0;
}

.name {
	font-size: 26px;
	float: left;
	padding-top: 6px;
	padding-bottom: 12px;
}

.button-wrapper {
	padding-top: 12px;
	float: right;
}

.information-table {
	padding-top:10px;
	background: white;
	height: 145px;
	border-radius: 10px;
	box-shadow: 0 3px 10px 0px rgba(241, 233, 219, 1);
}

.information-table .col-xs-12, .information-table .col-xs-6 {
	background: white;
	text-align: left;
	color: #666666;
	font-size: 14px;
	padding-right: 20px;
    padding-left: 20px;
}

.information-table .col-xs-6 {
	font-size: 13px;
}

.information-table a {
	text-decoration: none;
}

.middle-border {
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.numbers{
    font-size:25px;
    display: inline-block;
}

.point {
	color: #ff5c56;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 15px;
}

.balance {
	color: #ff5c56;
	line-height: 25px;
}

.life {
	color: #666666;
	line-height: 25px;
}

.button-redeem {
	display: inline-block;
	color: #8b6cfe;
	font-size: 18px;
	vertical-align: top;
	padding: 10px;
}

.left {
	text-align: left;
}

.member-box {
	width: 440px;
	height: 50px;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.top-background {
	background-color: white;
}

.top-background img {
	margin-top: -25%;
	width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .member-box {
		width: 90%;
	}

	.top-background img {
		margin-top: -20%;
	}
}

@media only screen and (max-width: 360px) {
    .member-box {
	}
}

.bottom-background {
	background-color: white;
	height: 40px;
}

.listing-table {
	text-align: left;
	color: #686868;
	font-size: 14px;
	background-color: white;
	/*height: 100%;*/
}

.long{
	margin-bottom: 60px;
}

.image-wrapper {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	padding-top: 10px;
}

.listing-table img {
	width: 100%;
	height: 100%;

}

.list-group {
	margin-bottom: 0;
}

.list-group a {
	text-decoration: none;
	color: #686868;
}

.list-group-item {
	border-top: 1px solid #d9d9d9;
	border-left: none;
	border-right: none;
	border-bottom: none;
	font-size: 16px;
	padding: 15px 15px;
}

.first-item {
	border-top: none;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0px;
}

.glyphicon {
	float: right;
	color: #ababab;
}

.vip-count {
	float: right;
	margin-top: -1px;
	margin-right: 2px;
	font-weight: 500;
	color: red;
}

.vip-inprogress {
	float: right;
	margin-top: -3px;
	margin-right: 2px;
	color: #007cef;
	font-size: 16px;
}

.vip-redeemticket {
	float: right;
	margin-top: -3px;
	margin-right: 2px;
	color: #686868;
}

.vip-ticketnotinused {
	float: right;
	margin-top: -3px;
	margin-right: 2px;
	color: #686868;
}

.icon-wrapper {
	height: 30px;
	width: 30px;
	float: left;
}

.icon-vip {
	background: url('/client/images/icon-vip.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-add-friend {
	background: url('/client/images/icon-invite.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-play {
	background: url('/client/images/icon-play.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-play-history {
	background: url('/client/images/icon-history.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-redeem {
	background: url('/client/images/icon-redeem.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-tips {
	background: url('/client/images/icon-tips.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
}

.icon-faq {
	background: url('/client/images/icon-faq.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-customer {
	background: url('/client/images/icon-wechat.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.icon-logout {
	background: url('/client/images/icon-logout.png') no-repeat;
	width: 44px;
	height: 44px;
	transform: scale(0.55); 
	-webkit-transform: scale(0.55);
	-webkit-transform-origin:left top;
	float: left;
	position: relative;
	margin-top: 0px;
}

.note {
	display: inline-block;
	font-size: 10px;
	color: #949494;
	float: right;
	padding-top: 2px;
}


/* Modal Box */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Modal Box */
.modal-content, .modal-title {
    background: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.modal-full-height {
    text-align:center;
    padding-bottom: 10px;
    margin: 0 auto;
}

.modal-wechat {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-title {
    background: #4c89e2;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    font-weight: 700;
}

.modal-title h1 {
    /*font-size: 20px;*/
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 700;
    color: #fffc22;
	font-size: 38px;
}

.modal-card {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
}

.copyvoucher {
    border: 1px solid #e3e3e3;
    background: #f0f0f0;
    color: #4380d9;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 30px;
}

.cutBtn, .cutBtn-success, .cutBtn-fail {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 6px;
    background-image: linear-gradient(#ffaf08, #ff830b);
}

.cutBtn {
	cursor: pointer;
}

.cutBtn-success {
    background: #1ba908;
}

.cutBtn-fail {
    background: #838383;
}

.instructions, .instructions-dark {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #cdcdcd;
}

.instructions-dark {
    color: #bababa;
}

@media only screen and (max-width: 360px) {
    .modal-content, .modal-title {
        width: 270px;
    }

    .modal-card {
        width: 230px;
        margin: 0 auto;
        font-size: 16px;
    }
}
/* End Modal box */

/* Wechat Modal */
#verify-steps .modal-content, #verify-steps .modal-title {
	background: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#verify-steps .modal-full-height {
	text-align:center;
	margin: 0 auto;
}

#verify-steps .modal-wechat {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#verify-steps .modal-title {
	background: #4c89e2;
	color: white;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px;
	font-weight: 700;
}

#verify-steps .modal-title h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-weight: 700;
}

#verify-steps .modal-card {
	width: 250px;
	margin: 0 auto;
	font-size: 16px;
}

#verify-steps .copyvoucher {
	border: 1px solid #dfdfdf;
	background: #f7f7f7;
	color: #51abff;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 6px;
	font-size: 20px;
}

#verify-steps .cutBtn, #verify-steps .cutBtn-success, #verify-steps .cutBtn-fail {
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	padding: 6px;
	background-color: #51acff;
	background-image: none;
}

#verify-steps .cutBtn {
	cursor: pointer;
}

#verify-steps .cutBtn-success {
	background: #1ba908;
}

#verify-steps .cutBtn-fail {
	background: #838383;
}

#verify-steps .instructions, #verify-steps .instructions-dark {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #999;
}

#verify-steps .instructions-dark {
	margin-bottom: 0px;
}

#verify-steps .btn-close {
	color: #ffd200;
	font-size: 16px;
	margin-top: 10px;
	display: block;
	text-align: center;
	width: 250px;

}

#verify-steps .btn-close a {
	text-decoration: underline;
	color: #f7ff22;
}

#verify-steps .body-title {
	color: #51abff;
	font-size: 18px;
}

#verify-steps .glyphicon {
	font-size: 20px;
	display: block;
	float: left;
	padding-left: 10px;
}

#verify-steps .left {
	display: block;
	padding-bottom: 3px;
	float: left;
	padding-left: 10px;
}

#verify-steps .modal-title {
	background: url('/client/images/wechat-header.png') no-repeat;
	background-size: contain;
	color: white;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px;
	font-weight: 700;
	width: 300px !important;
	height: 255px;
}

#verify-steps .modal-title h1 {
	/*font-size: 20px;*/
	margin-bottom: 0px;
	margin-top: 100px;
	font-weight: 200 !important;
	font-size: 14px;
}

#verify-steps .reward {
	/*font-size: 16px;*/
	color: #fffc22;
	font-weight: 200 !important;
	padding: 0 !important;
	margin-top: 0px;
}

#verify-steps .reward-amount {
	font-size: 55px;
	font-weight: 500;
	/*font-size: 140px;*/
	color: #fffc22;
}

#verify-steps .reward-instructions {
	/*color: #f2ee10;*/
	font-weight: 500;
	/*font-size: 15px;*/
	color: white;
	/*font-size: 42px;*/
	font-size: 16px;
}
/* End Wechat Modal*/

