.header .top li a, .header .top li a:hover, .header .top li a:focus {
			text-decoration: none;
		}

	.line {
	    padding: 0 5px 5px 5px;
	}

	.voucher-price {
		text-align: center;
        /*border: 1px solid #8c36d9;*/
        border-radius: 5px;
        font-size: 10px;
        color: #8c36d9;
        padding: 1px 6px 1px 6px;
    	background-color: #f1e6fa;
    }

	.draw-price {
		text-align: center;
	    /*border: 1px solid red;*/
	    border-radius: 5px;
	    font-size: 10px;
	    color: red;
	    padding: 1px 6px 1px 6px;
    	background-color: #fae7e6;
	}
	
	.columnval {
	  float: left;
	  width: 48%;
	  position:relative; /* and this has to be relative */
	  margin:0.05rem;
	  margin-left:0.08rem;

	}

    .rowval {
        padding-bottom: 2px;
        padding-left: 1px;
        padding-right: 1px;
    }
	 
	.rowval::after {
	  clear: both;
	  display: table;
	  align-content: center;
	  text-align: center;
	}

	.marginleft {	
	  /*margin-left: 0.3rem;*/
	}

	.marginright {	
	  /*margin-right: 0.3rem;*/
	}

	.marginbottom {
		margin-bottom: 0.2rem;
	}

	.featuredbg {

		position:relative;	
	    background: white;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
	    /*padding: 0.2rem;*/
	    /*height: 4.4rem;*/
	}

	.featuredbg img {
		border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    /*border-bottom-left-radius: 6px;*/
	    /*border-bottom-right-radius: 6px;*/
	}

	.featureddetail h2 {
		color: black;
	    padding: 5px;
	    white-space: nowrap; 
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	}

.featureddetail h3 .new-lbl-cur{
  text-align: center;
  font-size: 12px;
  color: red;
  font-weight: 0 !important;
}

.featureddetail h3 .new-price{
  text-align: center;
  font-size: 18px;
  color: red;
  font-weight: 700;
  line-height: 0.5rem;
}

.featureddetail h3 .new-txt{
	color: #c6c6c6;
	font-size: 12px;
    font-weight: 500;

}

.featureddetail h3 .btn-go{
	text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    padding-left: 5px;
    background-color: red;
    float: right;
    padding-right: 7px;
    padding-top: 2px;
    margin-top: 2px;
    font-weight: bold;
}

.featureddetail h3 .imgThunder{
	height: 19px;
    padding-bottom: 3px;
}

.featureddetail h3 .normal-txt{
	color: #c6c6c6;
	font-size: 12px;
}

.featureddetail h3 .normal-price{
	color: #c6c6c6;
	font-size: 12px;
	text-decoration: line-through;
}

.featureddetail h3 .normal-sell{
	color: #c6c6c6;
	font-size: 12px;
	float: right;
}

.product_section {
	/*margin-top: 1.6rem;*/
	margin-bottom: 0.2rem;
}