.barWrapper{
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-o-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	flex-direction: column;
	margin-top: -1rem;
}
.barWrapper::before,
.barWrapper::after{

}

.barBox{
	height: 2.5rem;
	width: 6.72rem;
}
.barBox .rule{
	padding-top: .85rem;
	box-sizing: border-box;
	position: relative;
}
.barBox .rule ul{
	display: flex;
	margin: 0 .23rem;
	border-left:.04rem solid rgba(255,255,255,0.4);

}
.barBox .rule ul li{ flex:1;text-align: center; height: .35rem; position: relative; border-right:.04rem solid rgba(255,255,255,0.4);}

.barBox .rule-content{
	font-size: 0.28rem;
	color: #fff;
	padding-bottom: 0.25rem;
	font-weight: 700;
}

.span-rule {
	color: #fff45a;
	cursor: pointer;
}

.barBox h2{
	display: none;
	position: absolute;
	top:.2rem;
	left: .2rem;
	background: rgba(0,0,0,0.2);
	font-size: .28rem;
	color: #fff;
	height: .46rem;
	line-height: .46rem;
	padding: 0 .22rem;
	border-radius:.1rem;
	-webkit-border-radius:.1rem;
	-moz-border-radius:.1rem;
	-ms-border-radius:.1rem;
	-o-border-radius:.1rem;
}
.barBox h2::after{
	content: '';
	display: block;
	position: absolute;
	left:.5rem;
	border:.1rem solid rgba(0,0,0,0.2);
	border-right:.1rem solid transparent;
	border-left:.1rem solid transparent;
	border-bottom:.1rem solid transparent;
}

.barBox .rule ul li span{ 
	display: block; 
	text-align: center;
	font-size: .25rem;
	color: #373737; 
	height: .25rem; 
	line-height: .25rem; 
	color: #fff;
	opacity: 0.4;
  	filter: alpha(opacity=40); /* For IE8 and earlier */
}

.barBox .rule ul li dl{
	display: flex;
	justify-content: space-between;
	padding: 0 .06rem;

}
.barBox .rule ul li dd{
	width: .04rem;
	height: .1rem;
	background: rgba(255,255,255,.4);
}

.barIn{position: relative;}
.barIn::after{
	background:url(/client/images/bg.png) left top no-repeat;background-size:100% 100%;  
	content: '';
	position: absolute;
	z-index: 200;
	left:0;
	top:0;
	right: 0;
	bottom:0;
}
.barIn::before{
	content: '';
	position: absolute;
	z-index: 100;
	left: .08rem;
	top:.07rem;
	right: .08rem;
	bottom:.03rem;
	background: url(/client/images/fixed.png) left top no-repeat;background-size:100% auto; 
}
.barIn .barImg{
	position: absolute;
	z-index: 50;
	width:calc(100% - .03rem);
	top:.03rem;
	bottom:.03rem;
	right:.03rem;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	 /* background: url(../images/full.png) left top no-repeat;  */
	background-size:100% 100%; 
	transition: width .2s;
	overflow: hidden;
}

.barBox.barBox-1 .barImg::before{

}

.barBox.barBox-2 .barImg::before{
	width:84%;

}
.barBox.barBox-3 .barImg::before{
	width: 67%;
}
.barBox.barBox-4 .barImg::before{
	width: 51.5%;

}
.barBox.barBox-5 .barImg::before{
	width: 35.8%;
}
.barBox.barBox-6 .barImg::before{
	width: 19.5%
}
.barBox.barBox-7 .barImg::before{
	width: 0%
}

.barBox .barImg::before{
	content: '';
	position:absolute;
	display:block;
	width:102%;
	right:0;
	height: 100%;
	z-index: 1;
	transition: width .2s;
	background: -webkit-linear-gradient(to right,rgba(255,255,255,0) 2% , #78ba63 4% ,#633fbd );
	background: -o-linear-gradient(to right,rgba(255,255,255,0) 2% , #78ba63 4% ,#633fbd );
	background: -moz-linear-gradient(to right,rgba(255,255,255,0) 2% , #78ba63 4% ,#633fbd);
	background: linear-gradient(to right,rgba(255,255,255,0) 2% , #78ba63 4% ,#633fbd  );
}

.barBox .barIn .barImg::after{
	z-index: 2;
	content: '';
	position:absolute;
	display:none;
	height:.51rem;
	width: calc(100% - .05rem);
	-webkit-border-radius:16px;
	border-radius:16px;
	top:0;
	right:.03rem;
	background: url(/client/images/bgpaopao.png);
	-webkit-animation:sparkle 3000ms linear infinite;
    -moz-animation:sparkle 3000ms linear infinite;
    -o-animation:sparkle 3000ms linear infinite;
    animation:sparkle 3000ms linear infinite;
	opacity:0.2;
	transition: width .2s ;
}


.barBox .barIn.on .barImg::after{
	display:block;
}




.barBox.barBox li.on span{
	color: #b7f99f; 
	font-size: .30rem; 
	font-weight: bold;
	opacity: 100;
  	filter: alpha(opacity=100); /* For IE8 and earlier */
}


.barBox.barBox-2 li:nth-child(-n+1) span{ color:#000;}
.barBox.barBox-3 li:nth-child(-n+2) span{ color:#000;}
.barBox.barBox-4 li:nth-child(-n+3) span{ color:#000;}
.barBox.barBox-5 li:nth-child(-n+4) span{ color:#000;}
.barBox.barBox-6 li:nth-child(-n+5) span{ color:#000;}
.barBox.barBox-7 li:nth-child(-n+6) span{ color:#000;}


.barBox.barBox-2 h2{ left: .5rem}
.barBox.barBox-2 h2::after{left:1.2rem;}
.barBox.barBox-3 h2{ left: .5rem}
.barBox.barBox-3 h2::after{left:2.2rem;}
.barBox.barBox-4 h2{ left:auto; right:0rem}
.barBox.barBox-4 h2::after{left:auto; right:2.7rem;}
.barBox.barBox-5 h2{ left:auto; right:0rem}
.barBox.barBox-5 h2::after{left:auto; right:1.7rem;}
.barBox.barBox-6 h2{left:auto; right:0rem}
.barBox.barBox-6 h2::after{ left:auto; right:.7rem;}


.barIn p{ text-align: center;font-size: .25rem; line-height: .57rem; color: #fff; position: relative;z-index: 300}



.barBox.barBox-1 .barImg::after{
	width: 100%;
}
.barBox.barBox-2 .barImg::after{
	width: 82%;
}
.barBox.barBox-3 .barImg::after{
	width:65%;
}
.barBox.barBox-4 .barImg::after{
	width:50%;
}
.barBox.barBox-5 .barImg::after{
	width:35%;
}
.barBox.barBox-6 .barImg::after{
	width:19.5%;
}
.barBox.barBox-7 .barImg::after{
	/* left: 100%; */
	width:0%;
}

@-webkit-keyframes sparkle {
	from {background-position:0 0;}
	to {background-position:0 -64px;}
}
@-moz-keyframes sparkle {
	from {background-position:0 0;}
	to {background-position:0 -64px;}
}
@-o-keyframes sparkle {
	from {background-position:0 0;}
	to {background-position:0 -64px;}
}
@keyframes sparkle {
	from {background-position:0 0;}
	to {background-position:0 -64px;}
}