/* Form Progress */
.progress-bar-container {
    width: 800px;
	height: 70px;
    margin: 20px auto;
    text-align: center;
}
.progress-bar-container .circle,
.progress-bar-container .bar {
    display: inline-block;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}

.progress-bar-container .circle, {
    top: 10px;
}

.progress-bar-container .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: 0px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.progress-bar-container .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 26px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 15px;
}
.progress-bar-container .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */
.progress-bar-container .bar.done,
.progress-bar-container .circle.done {
    background: #eee;
}
.progress-bar-container .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress-bar-container .circle.done .label {
    color: #FFF;
    background: #81CE97;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress-bar-container .circle.done .title {
    color: #444;
}
.progress-bar-container .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress-bar-container .circle.active .title {
    color: #0c95be;
}
////////////
