@import url(https://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.container {
	width: 500px;
	background-color: #f3f3f3;
	position: relative;
}
	
@media only screen and (max-width: 500px) {
    .container {
		width: 100%;
		padding: 0;
	}
}

html, body {
	height: 100%;
	background-color: #f3f3f3;
}

.full-height {
    margin-top: 6px;
}

.card {
	font-size: 16px;
	color: white;
}

.info-table {
	margin-top:200px;
	margin-bottom:30px;
	padding-top:10px;
	background: white;
	border-radius: 10px;
	display: block;
	text-align: center;
	position: relative;
	padding-bottom: 5px;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
}

.label-title {
	color: #333;
	font-size: 17px;
	padding-left: 20px;
	font-weight: 500;
}

.info-title {
	color: #666;
	font-size: 19px;
	text-align: center;
	padding: 10px;
}

.button-copy {
	position: absolute;
	width:70px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #639aeb;
    cursor:pointer;
    margin: -5.5px 0 10px -10px; 
    color: #639aeb;
    text-align: center;
    font-size: 11px;
}

.left {
	text-align: left;
}

.member-box {
	width: 90%;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.top-background {
	background-color: white;
}

.top-background img {
	margin-top: -5%;
	width: 100%;
    height: 100%;
}

.bottom-background {
	height: 130px;
}

@media only screen and (max-width: 500px) {
    .member-box {
		width: 90%;
	}

	.top-background img {
		margin-top: -5%;
	}

	.info-table {
		margin-top:180px;
	}
}

@media only screen and (max-width:400px) {
	.top-background img {
		margin-top: -5%;
	}

	.info-table {
		margin-top:155px;
	}
}

.error {
	font-size: 13px;
	text-align: center;
	color: #f75a5a;
	display: none;
}

/* Modal Box */
#modal-successful .modal {
  text-align: center;
  padding: 0!important;
}

#modal-successful .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#modal-successful .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Modal Box */
#modal-successful .modal-content, #modal-successful .modal-footer {
    background: rgba(0, 0, 0, 0.7);
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

#modal-successful .modal-full-height {
    text-align:center;
    padding-bottom: 0;
    margin: 0 auto;
}

#modal-successful .modal-body {
	padding-top: 0;
	padding-bottom: 0;
}

#modal-successful .modal-card {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
}

#modal-successful .modal-backdrop.in {
    filter: alpha(opacity=0);
    opacity: 0;
}

#modal-successful .col-xs-6 {
	border-top: 1px solid #eeeeee;
	padding: 10px;
	cursor: pointer;
}

#modal-successful .copyvoucher {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ;
}

#modal-successful .instructions {
    font-weight: 500;
    color: #fff;
    padding-top: 10px;
	padding-bottom: 15px;
	font-size: 17px;
}

@media only screen and (max-width: 360px) {
    #modal-successful .modal-content, #modal-successful .modal-title, #modal-successful .modal-footer {
        width: 300px;
    }

    #modal-successful .modal-card {
        width: 230px;
        font-size: 16px;
    }
}
/* End Modal box */

.how-to-pay {
	font-size: 13px;
	color: #ff5050;
	padding-top: 15px;
}


.left-menu {
    padding-top: 0;
    text-align: left;
    font-size: 16px;
}

.left-menu a, .icon-back {
	color: white;
}

.menu-wrapper a {
	padding: 4px 0;
    font-size: 14px;
    color: #fff845;
    text-decoration: none;
}


.instructions {
	color: #888;
	font-size: 13px;
	text-align: left;
	padding: 30px 20px;
	line-height: 25px;
}

.highlight {
	color: #12c11c;
	font-weight: 500;
}

.copyvoucher {
    background: #f3f3f3;
    color: #12c11c;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 22px;
    padding: 10px;
}

.cutBtnCS, .cutBtnCS-success, .cutBtnCS-fail {
    border-radius: 6px;
    font-size: 19px;
    color: white;
    padding: 10px;
}

.cutBtnCS {
	cursor: pointer;
	background-image: linear-gradient(to right, #00df00 , #00c500);
    -moz-box-shadow:    1px 3px 5px 3px #bef1c8;
	-webkit-box-shadow: 1px 3px 5px 3px #bef1c8;
	box-shadow:         1px 3px 5px 3px #bef1c8;
}

.cutBtnCS-success {
	cursor: none;
    background: #696969;
    -moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}

.cutBtnCS-fail {
	cursor: none;
    background: #696969;
    -moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
