.step {
	text-align: center;
}

.step-img {
	width: 100%;
    padding: 0 1rem 0.2rem 1rem;
}

.step-title {
	padding: 0.2rem 0.3rem;
    font-size: 0.3rem;
    color: #3d3d3d;
    text-align: left;
}

.step-title .step-number {
	color: #108ee9;
}

