html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

.row {
  display: grid;
  grid-template-columns: 20px 55px 55px 55px 55px 55px 20px;
  grid-gap: 0px;
  height: 50px;
}

.box {
  background: url('/client/images/game.png') no-repeat -65px -64px;
  width: 93px;
  height: 84px;
  transform: scale(0.33); 
  -webkit-transform: scale(0.33);
  -webkit-transform-origin:left top;
  font-size: 60px;
  color: #000;
  padding: 20px;
  padding-left: 52px;
  padding-right: 0px;
}

.right-chain {
  background: url('/client/images/game.png') no-repeat -1248px -1388px;
  width: 56px;
  height: 200px;
  transform: scale(0.33); 
  -webkit-transform: scale(0.33);
  -webkit-transform-origin:left top;
  float: right;
  margin-left:-8px;
  margin-top:12px;
}

.left-chain {
  background: url('/client/images/game.png') no-repeat -1146px -1388px;
  width: 56px;
  height: 200px;
  transform: scale(0.33); 
  -webkit-transform: scale(0.33);
  -webkit-transform-origin:left top;
  margin-left: 4px;
  margin-top: 12px;
}

/* iPhone 5 ----------- */
@media only screen and (max-width: 360px) {
    .row {
      grid-template-columns: 20px 45px 45px 45px 45px 45px 20px;
      height: 50px;
      margin-left: 0px;
    }

    .box {
     transform: scale(0.3); 
      -webkit-transform: scale(0.3);
      -webkit-transform-origin:left top;
      font-size: 60px;
      padding: 20px;
      padding-left: 52px;
      padding-right: 0px;
    }

    .right-chain {
      transform: scale(0.3); 
      -webkit-transform: scale(0.3);
      -webkit-transform-origin:left top;
      float: right;
      margin-left:-2px;
      margin-top:12px;
    }

    .left-chain {
     transform: scale(0.3); 
      -webkit-transform: scale(0.3);
      -webkit-transform-origin:left top;
    }
}