/* Form Progress */
table {
    border-collapse: separate;
    border-spacing: 5px;
}

tbody td {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px ;
    margin: 20px auto;
    text-align: center;
    height: 40px;
    color: #8c868a;
    font-weight: 600;
}

table .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 4px;
    color: #b5b5ba;
    font-size: 15px;
}

table .odd, .even, .odd-fail, .even-fail {
    float: left;
    margin-right: 5px;
}

/* Done / Active */
table .odd .label {
    color: #FFF;
    background: #54d41d;
}

table .even .label {
    color: #FFF;
    background: #ff7200;
}

table .odd-fail .label {
    color: #FFF;
    background: #585858;
    border: 2px solid #54d41d;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
}

table .even-fail .label {
    color: #FFF;
    background: #585858;
    border: 2px solid #ff7200;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
}

.points {
    float: right;
    color: #5b5563;
    font-size: 24px;
    margin: 5px auto;
    font-weight: 100;
}

.additional {
    color: #48b43d;
    font-size: 18px;
}