.results-body {
    display: table;
    margin: 0.35rem auto 0 auto;
    font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    background: transparent;
    border-radius: 0.12rem;
}

.results-wrapper {
    display: table-cell;
}

div.timer-row {
  font-size: 0.34rem;
  color: #333;
  padding: 0.18rem 0;
}

div.legend-row {
  font-size: 0.26rem;
  color: #666;
  padding: 0.24rem 0;
}

.results-row > div.box-wrapper {
  float: left;
  width: 1.1rem;
  height: 1.2rem;
}

.results-row > div.chain-wrapper {
  width: 0.4rem;
  float: left;
  height: 1.2rem;
}

.results-row > div.results-right {
  margin-left: 0;
}

.results-row > div.results-left {
  margin-left: 0;
}

.results-box {
  width: 1rem;
  height: 1rem;
  font-size: 0.28rem;
  color: #fb973f;
  border-radius: 0.8rem;
  border: 1px solid #e1e1e1;
  background: #fff;
  z-index: 100;
  position: relative;
  padding-top: 0.08rem;
}

.results-box div {
  font-size: 0.2rem;
  margin-top: -0.04rem;
}

.odd-box {
  color: #fb973f;
  border: 1px solid #fb973f;
  text-align: center;
}

.even-box {
  color: #b77eff;
  border: 1px solid #b77eff;
  text-align: center;
}

.chain {
  width: 4.6rem;
  height: 0.08rem;
  background: #f0f0f0;
  position: relative;
  margin-left: 0.8rem;
  margin-top: 0.46rem;
  z-index: 0;
}

.right-chain {
  margin-top: 0.8rem;
  margin-left: -0.64rem;
  width: 0.08rem;
  height: 0.4rem;
  background: #f0f0f0;
}

.left-chain {
  margin-top: 0.32rem;
  margin-left: 0.86rem;
  width: 0.08rem;
  height: 0.4rem;
  background: #f0f0f0;
}
