.isnext{ 
	text-align: center;
	font-size: .26rem; 
	color: #999; 
	line-height: 1.6em; 
	padding: .15rem 0;
}

.header {
    height: 1.2rem;
    position: absolute;
    margin-top: 0.1rem;
    width: 100%;
}

.header .top {
	background: transparent;
	float: left;
}

.header .top li {
	line-height: 0.7rem;
	font-size: 1em;
	text-align: left;
}

.header .top li a, .header .top li a:hover, .header .top li a:focus {
	margin-left: 0;
	text-decoration: none;
}

.cardHeader {
	height: auto;
}

.top-background {
	background-image: linear-gradient(to right, #ffa180, #f5547d);
	width: 100%;
	height: 1.15rem;
}

.top-background img {
	margin-top: 0%;
	width: 100%;
    height: 100%;
}

.inBox {
  padding-top: 0.1rem;
  padding-left: 0.2rem;
  float: left;
}

.flexSp {
  background: #ffffff;
  border-radius: 0.42rem;
  -webkit-border-radius: 0.42rem;
  -moz-border-radius: 0.42rem;
  -ms-border-radius: 0.42rem;
  -o-border-radius: 0.42rem;
  height: 0.7rem;
  width: 6.2rem;
  align-items: center;
  padding: 0 0.2rem;
}

.flexSp input {
  display: flex;
  width: 80%;
  box-sizing: border-box;
  padding-left: 0.25rem;
  font-size: 0.28rem;
  line-height: 2em;
  background: none;
  border: none;
  color: #333;
}

.flexSp input::placeholder {
  color: #bfbfbf;
}
.flexSp input::-webkit-placeholder {
  color: #bfbfbf;
}

#btn_search {
	color: white; 
	font-size: 0.3rem;
	padding: 0;
	width: 1rem;
}

.btn-back {
	padding-top: 0.2rem;
	padding-left: 0.1rem;
	float: left;
	width: 8%;

}

.btn-back img {
	margin-top: 0%;
	width: 100%;
    height: 100%;
}

/* Tabs */
.full-width-tabs > .nav-pills > .active > a,
.full-width-tabs > .nav-pills > .active > a:hover,
.full-width-tabs > .nav-pills > li > a:hover,
.full-width-tabs > .nav-pills > li > a:focus {
	text-decoration: none;
    color: rgba(255,255,255,.6);
    background-color: transparent;
}

.full-width-tabs > .nav-pills > li > a{
    border-radius:0px;
    color: rgba(255,255,255,.6);
    font-weight: 500;
    font-size: 0.35rem;
    padding-top: 0.05rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.full-width-tabs > .nav-pills > li > a:focus, 
.full-width-tabs > .nav-pills > .active > a,
.full-width-tabs > .nav-pills > .active > a:hover,
.full-width-tabs > .nav-pills > .active > a:focus {
	color: white;
}

.full-width-tabs > ul.nav.nav-pills {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-pills > li {
	float: none;
	display: table-cell;
}
.full-width-tabs > ul.nav.nav-pills > li > a {
	text-align: right;
}

.full-width-tabs > ul.nav.nav-pills > li > a.left {
	text-align: left;
}

.take-all-space-you-can{
	width:100%;
}
/* End Tabs */

#search-external .external-title {
	text-align: center;
	color: #a1a1a1;
	font-size: 0.3rem;
	padding-bottom: 0.24rem;
}

.instruction-list {
	padding: 0.24rem;
}

.instruction-list li {
	color: #505050;
	font-size: 0.3rem;
	padding-bottom: 0.1rem;
}

.instruction-list li .list-style {
	background: #d3d3d3;
	width: 0.22rem;
	height: 0.22rem;
	font-size: 0.2rem;
	color: white;
	border-radius: 50%;
	text-align: center;
	padding: 0.08rem 0.13rem;
	margin: 0 0.2rem;
}

.instruction-background {
	text-align: center;
	margin: 0 0.45rem;
}

.instruction-background img {
	margin: 2% auto;
	width: 50%;
    height: 50%;
}

.left-border {
	border-left: 1px dashed #d3d3d3;
}

.external-description {
	font-size: 0.2rem;
	color: #d3d3d3;
	text-align: center;
	line-height: 0.35rem;
	padding-bottom: 1rem;
}

.search-list {
	padding: 0.24rem;
	color: #505050;
	font-size: 0.34rem;
}

.search-title {
	color: #505050;
	background: #f1f1f1;
	font-size: 0.28rem;
	border-radius: 0.28rem;
	padding: 0.12rem 0.4rem;
	margin-top: 0.24rem;
	margin-right: 0.1rem;
	display: inline-block;
}

.search-history {
	margin-bottom: 0.5rem;
}

.search-history li {
	margin: 0 0.24rem;
	padding-bottom: 0.12rem;
	padding-top: 0.12rem;
	color: #888888;
	font-size: 0.28rem;
	border-bottom: 1px solid #e9e9e9;
}

.search-history li:first-child {
	color: #505050;
	font-size: 0.34rem;
	border-bottom: none;
	padding-top: 0;
}

.search-history img {
	float: right;
	width: 0.5rem;
	cursor: pointer;
}

.search-history li a {
	text-decoration: none;
	padding: 0;
	color: #888888;
}