/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    .container {
        padding: 0;        
        margin-top: 40px;
    }

    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
        background: #FFFFFF;
        color: #333333;
    }

    .panel-title > a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
    }

    .panel-body {
        color: #747474;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    .more-less {
        color: #cccccc;
    }

    .title {
        display: inline-block;
        border-left: 2px solid #48affa;
        padding-left: 5px;
        font-weight: 600;
    }

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #f2f2f2;
}

.listing-table {
    text-align: left;
    color: #686868;
    font-size: 14px;
    margin-top: 10px;
    background-color: white;
    height: 100%;
}

.tips_container {

    background-size: 100%;
    height: 1000px;
    width: 100%;
    /*font-size: 16px;*/
    margin: 0 auto;
    background-image: url("/client/images/tips.png");
    background-color: transparent;
    background-repeat: no-repeat;

    /*transform: scale(0.5); */
    /*-webkit-transform: scale(0.5);*/
    /*-webkit-transform-origin:left top;*/

}

.panel-step1 {

    background-size: 65%;
    height: 190px;
    width: 100%;
    background-image: url("/client/images/tips_step1.png");
    background-color: transparent;
    background-repeat: no-repeat;

    margin-top: 325px;
    margin-left: 55px;
    display: inline-block;
}

.panel-step1-btn {
    background-size: 45%;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    background-image: url("/client/images/btn-share.png");
    background-color: transparent;
    background-repeat: no-repeat;

    margin-left: 95px;
    display: inline-block;
}

.panel-step2 {
    background-size: 68%;
    height: 190px;
    width: 100%;
    background-image: url("/client/images/tips_step2.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-top: 77px;
    margin-left: 56px;
    display: inline-block;
}

.panel-step2-btn {
    background-size: 45%;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    background-image: url("/client/images/btn-game.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left: 95px;
    display: inline-block;
}

@media only screen and (min-width: 300px) {
    
    .tips_container {
        
        height: 850px;
        
    }

    .panel-step1 {
        height: 170px;
        margin-top: 290px;
    }

    .panel-step2 {
        height: 180px;
        margin-top: 50px;
    }


}

@media only screen and (min-width: 350px) {

    .tips_container {
        
        height: 950px;
        
    }
    
    .panel-step1 {
        height: 185px;
        margin-top: 325px;
    }

    .panel-step2 {
     
        height: 190px;
        margin-top: 80px;
     
    }

}

@media only screen and (min-width: 370px) {
    
    .tips_container {
        
        height: 1000px;
        
    }

    .panel-step1 {
        height: 200px;
        margin-top: 340px;
    }

    .panel-step2 {
     
        height: 215px;
        margin-top: 65px;
     
    }

}

@media only screen and (min-width: 400px) {
    
    .tips_container {
        
        height: 1100px;
        
    }

    .panel-step1 {
        height: 210px;
        margin-top: 370px;
    }

    .panel-step2 {
     
        height: 225px;
        margin-top: 85px;
     
    }
}

@media only screen and (min-width: 410px) {
    
    .tips_container {
        
        height: 1100px;
        
    }

    .panel-step1 {
        height: 210px;
        margin-top: 375px;
    }

    .panel-step2 {
     
        height: 225px;
        margin-top: 85px;
     
    }
}


@media only screen and (min-width: 500px) {
    .tips_container {
        
        height: 2000px;
        
    }

    .panel-step1 {
        height: 380px;
        margin-top: 650px;
        margin-left: 115px;
        display: inline-block;
    }

    .panel-step1-btn {

        height: 80px;
        margin-left: 195px;
        display: inline-block;
    }

    .panel-step2 {
        height: 410px;
        margin-top: 155px;
        margin-left: 130px;
        display: inline-block;
    }

    .panel-step2-btn {
        height: 80px;
        margin-left: 195px;
        display: inline-block;
    }
}

@media only screen and (min-width: 700px) {
    
    .panel-step1 {
        height: 400px;
        margin-top: 660px;
    }
}

@media only screen and (min-width: 900px) {
    
    .panel-step1 {

        margin-top: 690px;
    }
}

@media only screen and (min-width: 950px) {
    
    .panel-step1 {
        margin-top: 680px;
    }
}



