@import url(https://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

body {
	background: #ffffff;
}

.navbar {
	background: #f0f0f0;
	color: #97969e;
}

.navbar-default .navbar-brand {
	color: #303030;
}

.card {
	margin: 0 auto 30px auto;
	padding: 0 10px;	
}

.full-height {
	padding-top: 60px;
	font-size:12px;
    font-family: 'Lato',verdana, sans-serif;
    color: #a9a9a9;
    text-align:left;
    background:#ffffff;
}

.title {
	color: #313131;
	font-size: 20px;
	padding: 0 0 10px 0;
}

.sub-title {
	color: #828282;
	font-size: 14px;
	padding: 10px 0;
}

.instructions {
	color: #616161;
	font-size: 12px;
}

.step {
	color: #808080;
}

.highlight {
	color: #639cf3;
}

.img-settings {
	margin: 10px 0 20px 0;
	height: 100%; 
	width: 100%; 
	object-fit: contain
}

.wechat_card {
	background: #f5f5f5;
	border-radius: 10px;
	font-size: 18px;
	color: #aaaaaa;
	text-align: center;
	width: 100%;
	padding: 5px 40px 20px 40px;
	margin: 40px 0 20px 0;
}

.img-wechat {
	margin-top: -30px;
}

.wechat_id {
	color: #7fc409;
}

.cutBtn, .cutBtn-success, .cutBtn-fail {
	background: #75c700;
	color: white;
	padding: 5px;
	border-radius: 6px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.cutBtn {
	cursor: pointer;
}

.cutBtn-fail {
    background: #999999;
}