.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/client/images/preloader.gif) center no-repeat;
    background-color: rgba(255, 255, 255, 1);
    background-size: 32px 32px;
}

.card-flex .cardBody {
    background-color: #8c35d8;
}

.btn-rules-wrapper {
	width: 130px;
	height: 40px;
	float: right;
}

#win-modal .modal-content {
  background: url('/client/images/vip/win-modal-bg.png') no-repeat;
  background-size: contain;
  color: white;
  text-align: center;
  font-weight: 700;
  width: 6.14rem;
  height: 7.36rem;
  position:relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

#win-modal .packet-title {
	padding-top: 2rem;
	font-size: 0.34rem;
	color: #ff6067;
}

#wheel_banner img {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 100; 
	width:6rem;
	height:6.2rem;
	/*top: -10px;*/
}

.redeem-banner {
	padding: 0.4rem 0.4rem 0 0.4rem;
    text-align: center;
    margin: 0;
    height: auto;
    width: auto;
}

.redeem-banner img {
	width: 80%;
	/*margin-left: -10px;*/
	/*margin-top: 0.4rem;*/
}

.redeem-prize .col-xs-6 {
	padding: 0;
}

.left-box {
	float: left;
	width: 50%;
	padding-right: 5px;
	padding-bottom: 10px;
	position: relative;
	display: table;
}

.right-box {
	float: left;
	width: 50%;
	padding-left: 5px;
	padding-bottom: 10px;
	position: relative;
	display: table;
}

.prize-box {
	background: url('/client/images/vip/gift-box.png') no-repeat;
	background-size:100% 100%;  
	content: '';
	position: relative;
	display: table-cell;
}

.prize-box .image-wrapper {
	width: 2.6rem;
	height: 2.6rem;
	margin: 0 auto;
}

.prize-box .image-wrapper img {
	margin: 0.3rem auto;
	width: 100%;
	height: 100%;
}

.redeem-product {
	font-size: 0.24rem;
	color: #e1d3ed;
	margin-top: 0.4rem;
	text-align: left;
	padding: 0.3rem 0.2rem 0.1rem 0.3rem;
	height: 1rem;
	overflow: hidden;
}

.redeem-price {
	font-size: 0.34rem;
	color: #ffae00;
	float: left;
	text-align: left;
	width: 60%;
	display: block;
	padding-left: 0.3rem;
}

.redeem-currency {
	font-size: 0.2rem;
}

.redeem-button-wrapper {
	width: 40%;
	float: left;
}

.redeem-button {
	background:url(/client/images/vip/redeem-button.png) no-repeat;
	width: 1.02rem;
	height: 0.44rem;
	background-size: contain;
	font-size: 0.24rem;
	padding-top: 0.04rem;
	cursor: pointer;
}

.redeem-details {
	overflow: hidden;
	margin-bottom: 0.2rem;
	margin-top:0.1rem;
}

.redeem-details a {
	color: white;
}

.redeem-info {
	margin-bottom: 30px;
}

.info-box {
	background:url(/client/images/vip/redeem-info.png) left top no-repeat;
	background-size:100% 100%;  
	content: '';
	position: relative;
	display: table-cell;
	padding: 0.1rem 0.15rem 0.22rem 0.15rem;
	font-size: 0.28rem;
	text-align: left;
}

.info-box hr {
	border: none;
	border-top: 1px dashed #cf98fd;
	height: 1px;
	width: 100%;
}

.info-title {
	font-size: 0.38rem;
	text-align: center;
}

.info-title img {
	width: 0.38rem;
	height: 0.38rem;
	margin: 0 0.2rem;
}

.info-highlight {
	color: #ffa800;
}

.insufficient-point {
	color: #fff;
    font-size: 16px;
    width: 220px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #000;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* margin-top: 50px; */
}

.flickity-enabled.is-draggable {
	margin-top: -5px !important;
 }

.nologin-bg {
	background: url(/client/images/nologin-bg2.png) no-repeat;
    background-size: contain;
    position: relative;
    padding: 3.7rem 0.3rem 0.6rem 0.3rem;
    height: 7.5rem;
    width: 5.5rem;
}

#modal-no-login .instructions {
    color: #fff;
    font-size: 0.3rem;
    text-align: left;
    line-height: 0.45rem;
    padding: 0.02rem 0 0.2rem 1.05rem;
    margin: 0;
}

#modal-no-login .highlight {
	color: #fff71d;	
}

.btn-login {
	background: transparent;
    cursor: pointer;
    text-align: center;
    padding: 0;
    height: 1.5rem;
}

.openForm{
	background: #fff;
	border-radius:.1rem .1rem 0 0 ;
	-webkit-border-radius:.1rem .1rem 0 0 ;
	-moz-border-radius:.1rem .1rem 0 0 ;
	-ms-border-radius:.1rem .1rem 0 0 ;
	-o-border-radius:.1rem .1rem 0 0 ;
	position: absolute;
	display: none;
	bottom: 0;
	z-index: 200;
	width: 100%;
	left: 0;
	padding-top: 0.3rem;
}

.formWrapper{
	padding: 0 0.3rem;
}

.formTitle{
	font-size: .36rem;
	text-align: center;
	color: #333;
	margin-bottom: 0.3rem;
}

.formBody{
	font-size: .26rem;
	color: #666;
	line-height: .4rem;
}


.highlight1{
	color: #333;
	font-weight: 700;
}

.highlight2{
	color: #53bf03;
	font-weight: 700;
}

.highlight3{
	color: #ff4848;
	font-weight: 700;
}

.formTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.22rem;
  color: #333;
}

.formTable td, .formTable th {
  border: 1px solid #dfdfdf;
  padding: 0.1rem;
  text-align: center;
}

.formTable th {
	background-color: #999;
	color: #fff;
}

.formTable tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.formButtonWrapper {
	padding: 0.3rem 0.3rem 0 0.3rem;
}

.formButton{
	background-image: linear-gradient(to right, #24a6f1 , #0084ff);
	height: 0.98rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 0.36rem;
	cursor: pointer;
	margin: 0 0 0.3rem 0;
}

.openForm td:last-child {
	color: #ff4848;
}

.suggestion {
	color:#ff8624;
}

.suggestion img {
	width: 0.61rem;
	height: 0.28rem;
	position: absolute;
	margin-top: -0.2rem;
}

#modal-no-login {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.newbie {
	text-align: center;
}

.newbie-bg {
	background-size: contain;
    padding: 0 0.8rem 0 0.8rem;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    /*margin: 2rem 0 0 0;*/
}

#modal-isnewbie .introduction-bg {
    background-color: #fff;
    padding: 0.25rem 0.2rem 0 0.2rem;
    border-radius: 0.2rem;
    margin: -5.3rem 1.2rem 0.25rem 1.2rem;
    position: relative;
    height: 3rem;
}


#modal-isnewbie .title {
    color: #683bc5;
    font-size: 0.26rem;
    line-height: 0.4rem;
    padding: 0.15rem;
    text-align: left;
}

#modal-isnewbie .title .txt-bold {
	float: none;
    font-weight: 700;
    color: #683bc5;
    padding: 0;
    font-size: 0.26rem;
    line-height: 0.4rem;
    text-align: left;
}

#modal-isnewbie .btn-topup {
	border-radius: 0.2rem;
    background-color: #fca703;
    padding: 0.1rem 0.15rem 0.15rem 0.15rem;
    color: #fff;
    text-align: center;
    font-size: 0.3rem;
    margin: 0.4rem 1.2rem -0.08rem 1.2rem;
    position: relative;
}

#modal-isnewbie .btn-close-bg {
   	cursor: pointer;
    text-align: center;
    padding: 0;
    margin-top: 0.45rem;
    font-size: 0.3rem;
    position: relative;
    color: #fff;
}

#modal-isnewbie .btn-close-bg a {
	color: #fff;
}

#modal-isnewbie .btn-close {
	cursor: pointer;
    padding: 0;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0;
}

#modal-isnewbie .circle {
    color: #6939da;
    background-color: #fff;
    border: 1px solid #d2bdf0;
    height: 0.8rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 0.8rem;
    text-align: center;
    padding: 0.15rem 0 0 0;
    font-size: 0.35rem;
    line-height: 0.24rem;
    float: left;
}

#modal-isnewbie .circle .txt{
    font-size: 0.2rem;
    color: #b193f6;
}


#modal-isnewbie .line-connect {
    border: 1px solid #d2bdf0;
    height: 0.02rem;
    width: 0.1rem;
    padding: 0;
    float: left;
    background-color: #d2bdf0;
    margin-top: 0.4rem;
}

#modal-isnewbie .introduction-bet{
    margin-left: 0.1rem;
}

#modal-isnewbie {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

#modal-isnewbie .modal-dialog {
	width: 100%;
    margin: 0 0 0 0;
}

.speech-bubble-chips, .speech-bubble-clear{
	position: absolute;
	background: #ffffff;
	border-radius: .4em;
	color: #a657fa;
	width: 1.5rem;
	font-size: 0.24rem;
	margin-top: -0.7rem;
	padding: 0.07rem 0 0.1rem 0;
	display: none;
	text-align: center;
}

.speech-bubble-chips:after  {
	content: '';
	position: absolute;
	bottom: 0;
	left: 40%;
	width: 0;
	height: 0;
	border: 0.2rem solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.1rem;
	margin-bottom: -0.15rem;
}

.speech-bubble-clear{
	margin-left: -0.4rem;
}

.speech-bubble-clear:after  {
	content: '';
	position: absolute;
	bottom: 0;
	left: 70%;
	width: 0;
	height: 0;
	border: 0.2rem solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.1rem;
	margin-bottom: -0.15rem;
}

.modal.fade .modal-dialog {
  transform: translate3d(0, -10%, 0);
}

.modal.in .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.closeForm {
	float: right;
    padding: 0.1rem;
    color: red;
    margin: -1rem 0 0 0;
}