.btn-rules-wrapper {
	width: 120px;
	height: 40px;
	float: right;
}

.btn-info-vip-wrapper {
	width: 100px;
	height: 40px;
	margin-top: -3px;
	float: right;
}

.btn-info-vip {
	background: url('/client/images/vip/vip-info.png') no-repeat;
	width: 200px;
	height: 80px;
	transform: scale(0.5); 
	-webkit-transform: scale(0.5);
	-webkit-transform-origin:left top;
	padding: 2px 5px 0px 15px;
	font-size: 24px;
	cursor: pointer;
	color: #c24900;
	margin-top: -3px;
	text-align: left;
	padding-left: 30px;
	padding-top: 20px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}

.btn-rectangle, .btn-rectangle:active {
	background: url('/client/images/vip/btn-default.png') no-repeat;
	width: 322px;
	height: 112px;
	padding-top: 20px;
}

.btn-rectangle.clicked {
	background: url('/client/images/vip/btn-selected.png') no-repeat;
	width: 322px;
	height: 112px;
    padding-top: 20px;
    color: #8c6d28;
  /* other styles */
}

.strikethrough span:before,
.strikethrough span:after {
  border-bottom: none;
  width: 0;
}