html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

#txtCounter {
    font-size: 25px;
    color: white;
    padding-left: 12px;
    padding-top: 10px;
}

#wheel_container {
    left: 30px;
}