.wrapper {
    margin: 0 auto;
    width: 100%;
}

#txtCounter {
    font-size: 25px;
    color: white;
    padding-left: 12px;
    padding-top: 10px;
}

#wheel_container {
    left: 13%;
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    #wheel_container {
        left: 8%;
    }
}