html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

#txtCounter {
    font-size: 30px;
    color: white;
    padding-left: 15px;
    padding-top: 12px;
}

#wheel_container {
    left: 30px;
}