.card-body {
}
.card-body .header {
  margin-bottom: 1.16rem;
}
.card-body .header img {
  width: 100%;
}
.card-body .header .inBox {
  text-align: center;
  height: 0;
}
.card-body .header .inBox .test {
  height: 0;
  position: relative;
  top: -1.48rem;
}
.card-body .header h2 {
  font-size: 0.4rem;
  color: #fff;
  line-height: 0.88rem;
}
.card-body .header p {
  background: url(../images/adicon.png) left top no-repeat;
  background-size: 7.81rem auto;
  width: 5.74rem;
  margin: 0 auto;
  height: 1.76rem;
  text-align: left;
  padding-left: 1.45rem;
  font-size: 0.48rem;
  color: #fff;
  line-height: 1.28rem;
}

.title {
  padding: 0 0.3rem;
  line-height: 0.88rem;
}
.title span {
  float: right;
  color: #848484;
  font-size: 0.24rem;
}
.title p {
  font-size: 0.36rem;
  color: #e34b65;
}

.list {
}
.list li {
  padding: 0.26rem 0.25rem;
  border-bottom: 0.018rem solid #f1f1f1;
}
.list li:first-of-type {
  border-top: 0.018rem solid #f1f1f1;
}

.list li .imgBox {
  width: 2.25rem;
  display: block;
  font-size: 0;
  text-align: center;
  margin-right: 0.2rem;
}
.list li .imgBox img {
  max-width: 2.25rem;
  vertical-align: middle;
}
.list li h2 {
  font-size: 0.22rem;
  color: #9d9d9d;
  line-height: 0.36rem;
}
.list li h3 {
  color: #b4b4b4;
  font-size: 0.2rem;
  line-height: 0.46rem;
}
.list li h3 font {
  color: #de7e22;
  font-size: 0.24rem;
  margin-right: 0.14rem;
}
.list li .quan {
  background: url(../images/adicon.png) -0.16rem -2.02rem no-repeat;
  background-size: 7.81rem auto;
  height: 0.55rem;
  font-size: 0;
}
.list li .quan span {
  vertical-align: top;
  display: inline-block;
  width: 48%;
  height: 0.55rem;
  text-align: center;
  font-size: 0.22rem;
  color: #e1439f;
  line-height: 0.55rem;
}
.list li .quan font {
  color: #cccccc;
  font-size: 0.18rem;
  margin-left: 0.1rem;
}
.list li .quan a {
  display: inline-block;
  line-height: 0.55rem;
  width: 48%;
  font-size: 0.24rem;
  color: #fff;
  text-align: center;
}

.showBox {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.showBox .showIn {
  width: 100%;
  height: 100%;
}
.showBox .showIn .inBox {
  background: #fff;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  position: relative;
  padding: 0 0.6rem;
  width: 6rem;
  box-sizing: border-box;
}
.showBox .showIn .inBox .wxIcon {
  width: 2.2rem;
  position: absolute;
  top: -1.25rem;
  left: 50%;
  margin-left: -1.1rem;
}
.showBox .showIn .inBox h2 {
  text-align: center;
  line-height: 1.06rem;
  font-size: 0.38rem;
  text-align: center;
  color: #666;
  margin-top: 0.85rem;
}

.showBox .showIn .inBox a{ display: block; margin-bottom: .2rem;}
.showBox .showIn .inBox a img {
  width: 100%;
}

.showBox h5 {
  background: url(../images/bgBtn.png) center center no-repeat;
  background-size: 100% auto;
  line-height: 1rem;
  text-align: center;
  font-size: .42rem;
  color: #9fda2c;
  font-weight: bold;
  margin-bottom: .45rem;
}

.showBox h3{ text-align: center; line-height: 1.6em; color: #b1b1b1; margin-bottom: .2rem; font-size: .24rem;}