

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理 - 期数列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<style>
    html,
      body {
        height: 100%;
        overflow-y: auto;
      }
    </style>
<body>

  <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
      <a lay-href="">主页</a>
      <a><cite>组件</cite></a>
      <a><cite>数据表格</cite></a>
      <a><cite>简单用法</cite></a>
    </div>
  </div>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">期数列表</div>
          <div class="layui-card-body">

              <div class="layui-form-item">
                <!-- <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal">批量删除</button>
                </div> -->
                  <div class="layui-inline">
                    <label class="layui-form-label">日期选择</label>
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" id="date1" placeholder="yyyy年MM月dd日"
                        lay-key="13" />
                    </div>
                    <label class="layui-form-mid">至</label>
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" id="date2" placeholder="dd/MM/yyyy"
                        lay-key="14" />
                    </div>
                  </div>
                  <div class="layui-inline layui-form">
                      <select name="city" lay-verify="">
                          <option value="">开奖结果</option>
                          <option value="">进行中</option>
                          <option value="">已结束</option>
                        </select>
                  </div>
                  <div class="layui-inline">
                      <button class="layui-btn layui-btn-normal">筛选</button>
                  </div>
              
                </div>
            <table class="layui-hide" id="table"  lay-filter="table"></table>

            <script type="text/html" id="openRes">
              {{#  if(d.openType == 1){ }}
             {{d.tzRes}}
            {{#  } else { }}
            <font color="#2f8cff">进行中</font>
            {{#  } }}              
             </script>
             <script type="text/html" id="gL">
              {{#  if(d.openType == 1){ }}
             {{d.gL}}
            {{#  } else { }}
            <font color="#2f8cff">进行中</font>
            {{#  } }}              
             </script>
            <script type="text/html" id="table-detail">
              <!-- 投注记录 -->
              {{d.cashIcon}}<a style="float:right; color:#2f8cff; cursor: pointer;"lay-event="tDetail" >查看</a>
            </script>
            <script type="text/html" id="tzDetailTem">
              {{#  if(d.tzDetailType == 1){ }}
              <font color="#ea003d">{{d.tzDetail}}</font>
              {{#  } else if(d.tzDetailType == 2) { }}
              <font color="#16ba00">{{d.tzDetail}}</font>
            {{#  } else { }}
            未核算  
            {{#  } }} 
</script>
         
            <script type="text/html" id="test-table-operate-barDemo">
               <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> 
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table','form','laydate'], function(){
    var table = layui.table;
    var laydate = layui.laydate;

//日期时间选择器
laydate.render({ 
elem: '#date1'
,type: 'date'
,theme: '#1E9FFF'
});
laydate.render({ 
elem: '#date2'
,type: 'date'
,theme: '#1E9FFF'
});
  
    table.render({
      elem: '#table'
     
      ,url: layui.setter.base + 'json/test.js'
      ,cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      ,page:{theme: '#0290ff'}
      ,cols: [[
      // {type:'checkbox'},
      {field:'id',width:'120', title: 'ID'}
        ,{field:'tzDetailName',width:'200',  title: '期数',}
        ,{field:'tzCion',width:'120',  title: ' 投注金币',style:"color:#2f8cff"}
        ,{field:'cashIcon', title: '参与用户',templet:"#table-detail"}
        ,{field:'total', title: '单数', } 
        ,{field:'total', title: '双数'}
        ,{field:'total', title: '大数',}
        ,{field:'total', title: '小数'}
        ,{field:'total', title: '自选'}
        ,{field:'total', title: '方案'}
        ,{field:'tzRes',width:"160",  title: '开奖结果',templet:'#openRes'}
        ,{field:'gL', title: '中奖率',templet:'#gL'}
        ,{field:'tzDetail', title: '收益情况',templet:'#tzDetailTem',}
        ,{field:'zjTime',width:"180", title: '投注时间'}
        , { align:'center',title:'操作', toolbar: '#test-table-operate-barDemo'}
      ]]
    });
    
       //监听表格复选框选择
       table.on('checkbox(table)', function(obj){
      console.log(obj)
    });
    //监听工具条
    table.on('tool(table)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.confirm('确定删除该数据么？', function(index){
          obj.del();
          layer.close(index);
        });
      } else if(obj.event === "tDetail"){
          //查看金币
          layer.open({
          type: 2,
          title: '参用户',
          shade: false,
          maxmin: true,
          area: ['80%', '60%'],
          content: 'detail.html'
        });

      }

    });

      
  
  });
  </script>
</body>
</html>